/*
Theme Name: Archia Child
Theme URI: http://archia.cththemes.net/
Author: CTHthemes
Author URI: http://themeforest.net/user/cththemes/
Description: Architecture & Interior WordPress Theme
Version: 1.0.0
Tags: custom-background, custom-menu, editor-style, featured-images, post-formats, sticky-post, theme-options, translation-ready
Template: archia
Text Domain: archia-child
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
/* =Theme customization starts here
------------------------------------------------------- */
.form-box{
	background:#695849;
}
.form-box .title{
	color:#ffffff;
}
.form-box .btn{
	background: #f36f4e;
}
.form-control{
	background-color: #5e4f42;
	color:#908881;
}
.btn.btn-aware{
	border-color:#f46f4e;
	font-size: 15px;
    font-weight: 700;
	text-transform:capitalize;
}
.btn.btn-aware:hover{
	border-color:#f46f4e;
	background:#f46f4e !important;
}
.btn.btn-aware span{
		background:#f46f4e !important;
}
.btn.black.btn-aware
{
	border-color:none;
	text-transform:capitalize;
}
.vc_single_image-img
{
	height:auto !important;
}
.single-build-sec .vc_single_image-img
{
	height:auto !important;
}
.mission-design-sec .wpb_single_image .vc_figure
{
	width:100% !important;
}
.mission-design-sec .wpb_single_image .vc_single_image-wrapper
{
	width:100% !important;
}
.mission-design-sec .wpb_single_image img
{
	width:95% !important;
}
.mission-content-sec p
{
	width:91%;
}
.mission-design-sec .cth-btn-wrap
{
	margin-right:10px;
}
.btn .folio-filter .active
{
	background:#f46f4e;
}
.filter-style2 li, .filter-style1 li
{
	padding:0px;
}
.btn.outline.black
{
	font-size: 15px !important;
}
.build-with-middleeast h2
{
	padding-top:35px;
}
.filter-style1 li:before, .filter-style1 li:after{
	-webkit-transition: none;
	background:none;
}

.portfolio-sec .portinner span
{
	display:none;
}
.form-content-box .archia-row
{
	position:relative;
}
.form-content-box .wpb_single_image img
{
	width:80%;
	height:auto !important;
}
.form-content-box .wpb_single_image .vc_single_image-wrapper
{
	position: absolute;
    top: -87px;
}
li.btn.folio-filter.active
{
	    background: #f46f4e;
    /* padding: 0px 47px 16px; */
    color: #fff;
    border-radius: 36px;
   padding: 7px 40px;
}
li.btn.folio-filter.active span
{
	color:#fff;
}
.mission-design-sec .section-head
{
	margin-bottom: 26px !important;
}
.build-with-middleeast .wpb_content_element
{
	 margin-bottom: 0;
}
.view-all-projects .vc_custom_1570181952291
{
	margin-top:70px !important;
}
.slider-sec .btn.outline.black
{
	line-height: 27px !important;
    padding: 10px 42px !important;
}
.testimonial-sec .archia-row
{
	margin-bottom:20px;
}
.latest-project-info-row h2
{
	font-size:43px;
}
.latest-project-info-row
{
	    padding: 42px;
}
.latest-project-info-row .vc_column-inner
{
	padding-top: 0px;
    padding-left: 0px !important;
    padding-left: 0px !important;
}
.page-template-template-services .content-inner
{
	padding-top:0px;
	padding-bottom:0px;
}
.blog-main-txt
{
	margin-bottom:0;
}
.archia-section.medium-padding
{
	padding-bottom:0px;
}
.portfolio-txt
{
	margin-bottom:0;
}
.portbox1.style1 .overlay-bx .port-title
{
	font-size:25px;
}
.section-full:last-child
{
	margin-bottom:-94px;
}
.dlab-post-text
{
	padding-right: 23px;
}
.blog-sec .folio-big-pad .folio-item
{
	padding:20px;
}
.map-section .wpb_gmaps_widget .wpb_wrapper
{
	padding:0px;
}
.top80-bot0 .address-div
{
	padding-top:0px;
}
.sec-title-desc
{
	padding:10px 0px 25px;
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
	.desktop
	{
		display:none;
	}
	.form-content-box .wpb_single_image img
	{
		float: right;
		width:60%;
	}
	.form-img
	{
		top:-80px;
	}
}
@media screen and (max-width: 991px){
	.request-consultation
	{
		margin-top:140px;
	}
	.vc_custom_1573103341241 
	{
    	margin-bottom: -115px !important;
	}
}
@media screen and (max-width: 768px){
	.responsive-btn
	{
		margin-bottom:15px;
	}
	.build-with-middleeast h2 
	{
    	padding-top: 50px;
	}
	.single-build-sec .vc_single_image-img
	{
		height: auto !important;
	}
	.desktop-about
	{
		display:none;
	}
	footer .logo-header
	{
		width: 100% !important;
	}
	.intro-title-about.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.vc_col-md-6.wpb_start_animation.animated
	{
		width: 100%;
	}
	.about-image-sec.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-6.vc_col-md-12.vc_col-has-fill.wpb_start_animation.animated
	{
		width: 100%;
	}
	.bg-dark-vc.d-flex.align-self-center-vc.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-12.wpb_start_animation.animated
	{
		width: 100%;
	}
	.logo-header.footer-logo img
	{
		max-width: 145px !important;
	}
	.menu-icon-toggle.vc_column_container
	{
		margin-left: auto;
	}
	.our-blog-row
	{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.blog-post.blog-half.blog-half1 .dlab-post-title.right
	{
		margin: 0px !important;
	}
	.blog-post.blog-half.blog-half1 .dlab-post-title.left
	{
		margin: 0px !important;
	}
}
@media screen and (max-width: 412px){
	.mission-design-sec .our-history
	{
		margin-top: 10px;
	}
}
@media screen and (max-width: 1200px){
	.gallery-section
	{
		    margin-bottom: 70px !important;
	}
}
@media screen and (max-width: 425px){
	.request-consultation
	{
		 margin-top: 90px;
	}
	.testimonial-section-new .testimonial-text
{
	padding: 5px !important;
}
.testimonial-section-new .client-box-full .owl-nav .owl-prev i
{
	margin-left: 0 !important;
}
.testimonial-section-new .client-box-full .owl-nav .owl-next
{
	margin-right: 0 !important;
}
}
@media only screen and (max-width: 991px)
{
.form-box.vc_column_container {
    padding: 40px 40px !important;
}
.single-services .dlab-bnr-inr
{
	margin-bottom: 0px !important;
}
.single-services article.services
{
	margin-top: 50px !important;
}
}
@media only screen and (max-width: 577px)
{
	.mission-design-sec .wpb_single_image img
	{
		height: auto !important;
	}
	.client-logos .client-title
	{
		font-size: 40px !important;
    	line-height: 50px !important;
	}
	.build-with-middleeast h2
	{
		font-size: 40px !important;
    	line-height: 50px !important;
	}
	.view-all-projects .vc_row.wpb_row
	{
		padding-bottom: 50px !important;
	}
	.our-best-projects .head-title
	{
		font-size:40px !important;
		line-height:50px !important;
	}
	.gallery-section .btn.btn-aware
	{
		margin-bottom: 20px;
	}
	.page-template-template-service .vc_single_image-img
	{
		height: auto !important;
	}
	.single-portfolio .vc_single_image-img
	{
		height: auto !important;
	}
	#sp-testimonial-free-wrapper-1519 .sp-testimonial-free-section
	{
		padding: 0 21px !important;
	}
.latest-project-info-row h2 {
    line-height: 44px;
}
.latest-project-info-row h2 {
    font-size: 30px !important;
}
.latest-project-info-row
{
	padding: 49px !important;
}
}
.page-template-template-construction .content-inner
{
	padding-top:0px;
}
.home ::placeholder {
  color: #fff !important;
}
.home :focus::placeholder {
    color: #000 !important;
}
.page-id-553 ::placeholder {
  color: #fff !important;
}
.page-id-553 :focus::placeholder {
    color: #000 !important;
}
.single-portfolio ::placeholder {
  color: #fff !important;
}
.single-portfolio :focus::placeholder {
    color: #000 !important;
}
.single-portfolio .page-content
{
	padding-bottom:110px;
}
/* .new-sec-testimonial
{
	display:none;
} */
.testimonial-section-new .testimonial-text
{
	padding: 15px 80px 15px 80px;
}
.testimonial-section-new .client-box-full .owl-nav .owl-prev i
{
	margin-left: 100px;
}
.testimonial-section-new .client-box-full .owl-nav .owl-next
{
	margin-right: 100px;
}
@media screen and (max-width: 1366px){
.dlab-bnr-inr.dlab-bnr-inr-lg
{
	height:568px;
}
	.dlab-bnr-inr h1
	{
		margin-bottom:50px;
	}
}
.vc_row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.testi-section-con .container
{
    margin: 80px auto 0px auto !important;
}
.vc_section
{
	margin-left:0px !important;
	margin-right:0px !important;
}
.details-title-sec h3
{
	font-size: 28px;
    line-height: 39px;
    color: #000;
    font-weight: 400;
    padding: 0px 20px 0px 43px;
}
.details-content-sec p
{
	line-height: 30px;
    text-align: justify;
}
.two-image-sec
{
	padding-top:0px !important;
}
@media screen and (max-width: 767px){
	.form-img.desktop
	{
		display:none;
	}
	.contact-form-sec .bootstrap-select .dropdown-toggle
	{
		padding: 0 30px !important;
	}
	.contact-form-sec .bootstrap-select.btn-group .dropdown-toggle .filter-option
	{
		font-size: 13.5px;
		letter-spacing: 0px;
	}
	.mobile-list-services .wpb_content_element
	{
		margin-bottom: 0px;
	}
}
.icons-sec .folio-details-wrap .pro-details i
{
	color: #fff;
	background-color: #695849;
}
.portfolio-sec .btn:active, .btn:hover
{
	background:#f46f4e;
}
.single-services .section-full:last-child
{
	margin-bottom:0px;
}
.single-services .page-content
{
	padding-bottom:0px;
}
.single-services .content-inner
{
	padding-top:0px;
}
.single-services .blog-post .dlab-post-media img
{
	width:100%;
}
.testi-sub-ti
{
	font-weight:400;
}
article.construction_service {
    margin: 100px 0px !important;
}
.single-construction_service .section-full:last-child
{
	margin-bottom:0px;
}
.single-construction_service .page-content
{
	padding-bottom:0px;
}
.single-construction_service .content-inner
{
	padding-top:0px;
}
.single-construction_service .blog-post .dlab-post-media img
{
	width:100%;
}
.head-sec-intro
{
	display:none;
}
.contact-form-sec .btn-group.bootstrap-select
{
	display: block;
}
.contact-form-sec select.bs-select-hidden
{
	display: none !important;
}
.contact-form-sec .bootstrap-select .dropdown-toggle
{
    border-radius: 60px;
    font-size: 15px;
    border: 0;
    padding: 0 40px;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.05);
        background-color: #5e4f42 !important;
    color: #908881 !important;
    border: 0 !important;;
}
.contact-form-sec .bootstrap-select .dropdown-toggle:focus span.filter-option {
    color: #000 !important;
    }
    .contact-form-sec .bootstrap-select .dropdown-toggle:focus {
    background-color: #fff !important;
    }
.contact-form-sec .bootstrap-select.btn-group .dropdown-toggle .filter-option:focus
{
	color: #000 !important;
}
.contact-form-sec .bootstrap-select div.dropdown-menu
{
	border: 0 !important;
    border-radius: 60px;
    height: 148px;
    padding: 30px 20px 0 12px;
    padding-bottom: 0;
    max-height: max-content !important;
}
.contact-form-sec .bootstrap-select.btn-group .dropdown-toggle .filter-option
{
	color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-family: inherit;
}
.contact-form-sec .bootstrap-select.btn-group .dropdown-toggle .filter-option ::placeholder
{
	color:red;
}
@media screen and (max-width: 1200px){
	.gallery-section .dlab-media img
	{
		min-height: auto;
	}
	}
.contact-form-sec .bootstrap-select.btn-group .dropdown-menu li a span.text
{
	padding-left: 13px;
    line-height: 21px;
}
.archi-footer .vc_column_container>.vc_column-inner
{
	padding-left: 0px;
	padding-right: 0px;
}
.bootstrap-select .dropdown-menu > li > a:hover {
    background-color: transparent;
}
.contact-form-sec .bootstrap-select.btn-group .dropdown-menu li a span.text:hover
{
	color: #f36f4e;
}
.single-services .dlab-post-meta
{
	display: none;
}
.client-logos .vc_slide.vc_images_carousel
{
	width: auto !important;
}
@media screen and (max-width: 1024px){
	.archi-footer.site-footer .footer-top [class*="col-"]
	{
		    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
	}
	.page-template-template-interior article.services
	{
		margin: 30px 0px;
	}
	.page-template-template-construction article.services
	{
		margin: 30px 0px;
	}
}
.single-post .page-content
{
	padding-bottom: 0px !important;
}
.single-post .section-full:last-child
{
	margin-bottom: 0px !important;
}
.page-template-template-service .vc_single_image-img
{
	height: auto !important;
}
.carousel-client
{
	display: none;
}
.blog-post.blog-half.blog-half1 .dlab-post-title.right
{
	    margin: 0;
	    padding: 30px 23px 20px 10px;
}
.blog-post.blog-half.blog-half1 .dlab-post-title.left
{
	    margin: 0;
	    padding: 30px 10px 20px 0px;
}
.menu-icon-in span
{
	 background-color: #f46f4e;
}
.menu-text
{
	    text-transform: capitalize;
    font-size: 8.5px;
    padding-top: 24px;
}
.logo-header img
{
	max-width: 199px;
}
.dlab-bnr-inr.dlab-bnr-inr-lg
{
	    height: 342px;
    background-position: center;
}
.project-title h2
{
	font-size: 30px !important;
}
.about-image-sec .vc_column-inner
{
	padding: 80%;
	background-size: cover;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
@media screen and (max-width: 320px){
.request-consultation h2
{
	font-size: 37px !important;
}
}