.admin-bar  .page-wraper {
    top: 32px;
}
.cth_column-gap-0 .vc_column_container>.vc_column-inner{
	padding-left: 0px;
    padding-right: 0px;
}
.cth_column-gap-1 .vc_column_container>.vc_column-inner{
	padding-left: 1px;
    padding-right: 1px;
}
.cth_column-gap-2 .vc_column_container>.vc_column-inner{
	padding-left: 2px;
    padding-right: 2px;
}
.cth_column-gap-3 .vc_column_container>.vc_column-inner{
	padding-left: 3px;
    padding-right: 3px;
}
.cth_column-gap-4 .vc_column_container>.vc_column-inner{
	padding-left: 4px;
    padding-right: 4px;
}
.cth_column-gap-5 .vc_column_container>.vc_column-inner{
	padding-left: 5px;
    padding-right: 5px;
}
.cth_column-gap-10 .vc_column_container>.vc_column-inner{
	padding-left: 10px;
    padding-right: 10px;
}
.cth_column-gap-15 .vc_column_container>.vc_column-inner{
	padding-left: 15px;
    padding-right: 15px;
}
.cth_column-gap-20 .vc_column_container>.vc_column-inner{
	padding-left: 20px;
    padding-right: 20px;
}


.social-menu{
	float: right;
    padding: 20px 20px 0;
    border-left: 1px solid rgba(0,0,0,0.1);
}
.home3-header .social-menu{
	 border-left: 1px solid rgba(255,255,255,0.2);
}
.header-side-nav .social-menu{
	border-left: 0;
	padding: 40px;
}
.header-side-nav .social-menu a{
	color: #bbc7cd;
}
.home3-header .header-side-nav .social-menu a{
	color: #bbc7cd;
}
.home3-header .social-menu a{
	color: #fff;
}
.header-socials  ul li a{
	color: #000;
}
.home3-header .header-contact{
	border-left: 1px solid rgba(255,255,255,0.2);
	/* border-right: 1px solid rgba(255,255,255,0.2); */
}
.header-contact{
	position: relative;
	border-left: 1px solid rgba(0,0,0,0.1);
	/* border-right: 1px solid rgba(0,0,0,0.1); */
}
.hidden-boder.header-contact{
	border-left: 0;
}
.header-contact .contact-no{
	padding: 17px 20px;
}
.archia-header .navbar-expand-lg .header-side-nav  .navbar-nav{
	flex-direction: column;
}
.is-fixed .header-side-nav.header-nav .nav > li > a{
	padding: 12px 40px;
}
.header-nav .nav > li.menu-item-has-children:before{
	display: none;
}
.button-modal{
	padding: 10px 20px;
}
li.button-modal {
	padding: 0;
}
.navbar-bt-mobile{
	position: absolute;
}
.header-side-nav .vc_column-inner{
	min-height: 100vh;
}
.header-side-nav .social-menu{
	/*margin-top: auto;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;*/
}
.admin-bar .archia-header .menu-close{
	top: 20px;
}
.admin-bar .header-side-nav .logo-header{
	margin-top: 30px;
}