/* Latest Blog */

.post-left-side {}
.post-right-side {
    display: block;
}
.post-right-side .blog-media {
    float: right;
}
.post-right-side .post-info {
    text-align: right;
}
/* Portfolio with item */

.card-container {
    padding-right: 15px;
    padding-left: 15px;
}
.card-container img {
    height: 425px;
    max-height: 425px;
}
/* .card-container {
  padding-right: 15px;
    padding-left: 15px;
}
.card-container img {
  height: 425px;
    max-height: 425px;
}
.card-container.col-one {
  width: 33.333333%;
}
.card-container.col-two {
  width: 66.666667%;
}
.card-container.col-three {
  width: 100%;
}

@media only screen and (max-width: 575px) {
  .card-container.col-one, 
  .card-container.col-two {
    width: 100%;
  }

} */

.folio-items {
    position: relative;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.folio-item-holder {
    /*float: left;*/
    width: 100%;
    height: auto;
    position: relative;
    /*padding:2px;*/
    margin-bottom: 0;
}
.folio-big-pad.folio-items {
    margin-left: -15px;
    margin-right: -15px;
}
.folio-big-pad .folio-item {
    padding: 15px;
}
.folio-medium-pad.folio-items {
    margin-left: -10px;
    margin-right: -10px;
}
.folio-medium-pad .folio-item {
    padding: 10px;
}
.folio-small-pad.post-folio-items, .folio-small-pad.folio-items {
    margin-left: -5px;
    margin-right: -5px;
}
.folio-small-pad .post-folio-item, .folio-small-pad .folio-item {
    padding: 5px;
}
.folio-extrasmall-pad.folio-items {
    margin-left: -2px;
    margin-right: -2px;
}
.folio-extrasmall-pad .folio-item {
    padding: 2px;
}
.folio-no-pad .grid-item {
    padding: 0;
}
.folio-item, .grid-sizer {
    width: 25%;
    position: relative;
    /*float:left;*/
    overflow: hidden;
}
.folio-item:hover {
    overflow: visible;
}
.folio-item-two, .grid-sizer-two {
    width: 50%;
}
.folio-item-three, .grid-sizer-three {
    width: 75%;
}
.folio-one-cols .folio-item, .folio-one-cols .grid-sizer, .folio-one-cols .folio-item-two, .folio-one-cols .grid-sizer-two, .folio-one-cols .folio-item-three, .folio-one-cols .grid-sizer-three {
    width: 100%;
}
.folio-two-cols .folio-item, .folio-two-cols .grid-sizer, .folio-two-cols .folio-item-two, .folio-two-cols .grid-sizer-two, .folio-two-cols .folio-item-three, .folio-two-cols .grid-sizer-three {
    width: 50%;
}
.folio-three-cols .folio-item, .folio-three-cols .grid-sizer {
    width: 33.333%;
}
.folio-three-cols .folio-item-two, .folio-three-cols .grid-sizer-two {
    width: 66.666%;
}
.folio-three-cols .folio-item-three, .folio-three-cols .grid-sizer-three {
    width: 100%;
}
.folio-five-cols .folio-item, .folio-five-cols .grid-sizer {
    width: 20%;
}
.folio-five-cols .folio-item-two, .folio-five-cols .grid-sizer-two {
    width: 40%;
}
.folio-five-cols .folio-item-three, .folio-five-cols .grid-sizer-three {
    width: 60%;
}
.folio-six-cols .folio-item, .folio-six-cols .grid-sizer {
    width: 16.66666%;
}
.folio-six-cols .folio-item-two, .folio-six-cols .grid-sizer-two {
    width: 33.33333%;
}
.folio-six-cols .folio-item-three, .folio-six-cols .grid-sizer-three {
    width: 50%;
}
.folio-seven-cols .folio-item, .folio-seven-cols .grid-sizer {
    width: 14.285%;
}
.folio-seven-cols .folio-item-two, .folio-seven-cols .grid-sizer-two {
    width: 28.57%;
}
.folio-seven-cols .folio-item-three, .folio-seven-cols .grid-sizer-three {
    width: 42.857%;
}
.folio-eight-cols .folio-item, .folio-eight-cols .grid-sizer {
    width: 12.5%;
}
.folio-eight-cols .folio-item-two, .folio-eight-cols .grid-sizer-two {
    width: 25%;
}
.folio-eight-cols .folio-item-three, .folio-eight-cols .grid-sizer-three {
    width: 37.5%;
}
.folio-nine-cols .folio-item, .folio-nine-cols .grid-sizer {
    width: 11.11111%;
}
.folio-nine-cols .folio-item-two, .folio-nine-cols .grid-sizer-two {
    width: 22.22222%;
}
.folio-nine-cols .folio-item-three, .folio-nine-cols .grid-sizer-three {
    width: 33.33333%;
}
.folio-ten-cols .folio-item, .folio-ten-col .grid-sizer {
    width: 10%;
}
.folio-ten-cols .folio-item-two, .folio-ten-cols .grid-sizer-two {
    width: 20%;
}
.folio-ten-cols .folio-item-three, .folio-ten-cols .grid-sizer-three {
    width: 30%;
}
/*Header section*/

.head-sec-intro {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
/*Page section*/

.top50-bot0 {
    padding-top: 50px;
}
.top80-bot0 {
    padding-top: 80px;
}
.archia-section.medium-padding {
    padding-top: 80px;
    padding-bottom: 0px;
}
.mb-0px {
    margin-bottom: 0px !important;
}
/*Split slider portfolio*/

.folios-split-slider {
    height: calc( 100vh - 70px);
    width: 100vw;
    position: relative;
}
.folios-split-slider .swiper-container {
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.folios-split-slider .swiper-image {
    width: 50%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
}
/* .swiper-image-inner {
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.swiper-image-inner.swiper-image-left {
  padding: 4rem;
} */

.folios-split-slider .swiper-slide.swiper-slide-active .swiper-image-left {
    -webkit-filter: sepia(0%);
    filter: sepia(0%);
}
.folios-split-slider .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
}
.folios-split-slider .swiper-container-no-flexbox .swiper-slide {
    float: left;
}
.folios-split-slider .swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}
.folios-split-slider .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}
.folios-split-slider .swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}
.folios-split-slider .swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.folios-split-slider .swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.folios-split-slider .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* Auto Height */

.folios-split-slider .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto;
}
.folios-split-slider .swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
}
/* a11y */

.folios-split-slider .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */

.folios-split-slider .swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.folios-split-slider .swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}
/*  */

.folios-split-slider .swiper-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding: 50px;
    position: relative;
    max-width: 600px;
    margin: auto;
}
.folios-split-slider .swiper-content .title {
    line-height: 60px;
    font-size: 50px;
}
.folios-split-slider .swiper-pagination {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 99999;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.folios-split-slider .swiper-pagination span {
    display: block;
    font-size: 14px;
    color: #000;
    text-align: center;
    font-weight: 700;
    opacity: 0.3;
    padding: 5px 10px;
    text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.5);
}
.folios-split-slider .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
}
.folios-split-slider .swiper-pagination span.swiper-pagination-bullet-active {
    opacity: 1;
}
.folios-split-slider .swiper-pagination span:nth-child(1):after {
    content: "01";
}
.folios-split-slider .swiper-pagination span:nth-child(2):after {
    content: "02";
}
.folios-split-slider .swiper-pagination span:nth-child(3):after {
    content: "03";
}
.folios-split-slider .swiper-pagination span:nth-child(4):after {
    content: "04";
}
.folios-split-slider .swiper-pagination span:nth-child(5):after {
    content: "05";
}
.folios-split-slider .swiper-pagination span:nth-child(6):after {
    content: "06";
}
.folios-split-slider .swiper-pagination span:nth-child(7):after {
    content: "07";
}
.folios-split-slider .swiper-pagination span:nth-child(8):after {
    content: "08";
}
.folios-split-slider .swiper-pagination span:nth-child(9):after {
    content: "09";
}
.folios-split-slider .swiper-pagination span:nth-child(10):after {
    content: "10";
}
.folios-split-slider .swiper-bg {
    position: relative;
    z-index: 1;
}
.folios-split-slider .swiper-bg:after {
    background: #525252;
    top: 0;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.folios-split-slider .swiper-content p {
    margin-bottom: 35px;
}
.dark .swiper-image, .dark .swiper-content {
    background: #111723;
}
.dark .swiper-pagination span, .dark .swiper-content .title {
    color: #fff;
}
.dark .swiper-pagination span {
    text-shadow: none;
}
.dark .swiper-content p {
    color: #fff;
    opacity: 0.8;
}
@media only screen and (max-width: 991px) {
    .folios-split-slider .swiper-content .title {
        line-height: 40px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 576px) {
    .folios-split-slider .swiper-content {
        padding: 20px 50px 20px 15px;
    }
    .folios-split-slider .swiper-image {
        width: 100%;
        height: 75%;
    }
    .folios-split-slider .swiper-slide {
        flex-direction: column;
    }
    .folios-split-slider .swiper-content .title {
        line-height: 30px;
        font-size: 24px;
        margin-bottom: 15px;
    }
    .folios-split-slider .swiper-content .btn {
        padding: 12px 30px;
    }
    .folios-split-slider .swiper-content p {
        margin-bottom: 20px;
    }
    .folios-split-slider .swiper-bg {
        height: 25%;
    }
}
/*Section title*/

.section-head.sec-head-small .head-title {
    font-size: 32px;
}
/*Contact page*/

.wpb_gmaps_widget.map-no-pad .wpb_wrapper {
    padding: 0;
}