/*==========================
	Custom css
==========================*/
/* Header ======= */
.header-full .container-fluid {
  padding-left: 55px;
  padding-right: 55px; }

.menu-icon {
  padding: 0;
  width: 68px;
  height: 68px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.menu-icon-in {
  width: 30px;
  height: 22px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: inline-block; }

.menu-icon-in span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background-color: #3f3f3f;
  border-radius: 10px; }

.menu-icon-in span:nth-child(1) {
  top: 0px;
  width: 60%; }

.menu-icon-in span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.menu-icon-in span:nth-child(3) {
  bottom: 0;
  width: 85%; }

.menu-icon:hover .menu-icon-in span:nth-child(1),
.menu-icon:hover .menu-icon-in span:nth-child(2),
.menu-icon:hover .menu-icon-in span:nth-child(3) {
  width: 100%; }

/* SideNav ======= */
.site-header .full-sidenav {
  position: fixed;
  right: -300px;
  width: 300px;
  top: 0;
  z-index: 999988;
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  left: auto; }

.site-header .full-sidenav .mCSB_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%; }

.site-header .full-sidenav.active {
  right: 0; }

.site-header .full-sidenav .nav {
  margin-bottom: auto; }

.header-nav.full-sidenav .nav > li > a {
  color: #000; }

.header-nav.full-sidenav .social-menu,
.header-nav.full-sidenav .logo-header,
.header-nav.full-sidenav .nav {
  float: none;
  width: 100%; }

.header-nav.full-sidenav .logo-header {
  height: auto;
  padding: 50px 40px 30px 40px; }

.header-nav.full-sidenav .logo-header a {
  width: 170px;
  display: block; }

.header-nav.full-sidenav .nav > li > .sub-menu,
.header-nav.full-sidenav .nav > li:hover > .sub-menu,
.header-nav.full-sidenav .nav > li > .mega-menu,
.header-nav.full-sidenav .nav > li:hover > .mega-menu {
  opacity: 1;
  visibility: visible;
  position: unset;
  /*display:none;*/ }

.header-nav.full-sidenav .nav > li > .sub-menu,
.header-nav.full-sidenav .nav > li > .mega-menu {
  box-shadow: none;
  -webkit-transition: unset;
  -moz-transition: unset;
  -ms-transition: unset;
  -o-transition: unset;
  transition: unset; }

.header-nav .nav > li {
  text-transform: none; }

.header-nav .nav > li .sub-menu {
  width: 100%;
  padding: 0;
  min-width: 100%; }

.header-nav .nav > li .sub-menu li a {
  color: #8799a3;
  padding: 10px 40px; }

.header-nav .nav > li > a {
  padding: 12px 40px;
  width: 100%;
  font-size: 18px; }

.social-menu {
  padding: 40px; }

.social-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px; }

.social-menu .copyright-head {
  margin-bottom: 0;
  color: #cccccc; }

.social-menu ul li {
  display: inline-block; }

.social-menu ul li a {
  color: #bbc7cd;
  font-size: 18px;
  padding-right: 15px; }

.social-menu ul li a:hover {
  color: #8799a3; }

.header-nav.full-sidenav .mCustomScrollBox {
  width: 100%; }

.menu-close i {
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 320px;
  top: 20px; }

.menu-close {
  position: fixed;
  height: 100vh;
  width: 0;
  background: #3a3a3a;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  filter: blur(300px);
  cursor: pointer;
  overflow: hidden;
  z-index: 9999; }

.menu-close.active {
  width: 100%;
  opacity: 0.8;
  filter: blur(0); }

/* Services Iconbox ======= */
.sr-iconbox .icon-lg {
  text-align: left; }

.sr-iconbox .icon-lg img {
  height: 50px;
  object-fit: contain;
  object-position: bottom; }

.sr-iconbox p {
  margin-bottom: 10px; }

.sr-iconbox p {
  color: #676767;
  font-size: 16px;
  line-height: 28px; }

.rev-slider-full {
  position: relative;
  z-index: 1; }

.rev-slider-full:after {
  height: 200px;
  position: absolute;
  width: 100%;
  bottom: 0;
  content: "";
  z-index: 2;
  background: black;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, white 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); }

.section-head .head-title {
  font-size: 50px;
  line-height: 60px; }

.section-head p {
  font-size: 18px;
  color: #aeaeae;
  font-weight: 600;
  margin-bottom: 0; }

.mfp-wrap {
  z-index: 100001; }

.mfp-bg {
  z-index: 100000; }

/* PortFolio Box ======= */
.portbox2 .dlab-media:after,
.portbox2 .title,
.portbox2 .dlab-info-has,
.portbox2 p,
.portbox1 .portinner,
.portbox2 span {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s; }

.portbox2 .dlab-media,
.portbox1 {
  border-radius: 4px; }

.process-item-wraper .portbox2 .dlab-media {
  margin-bottom: 30px; }

.portbox3 {
  border-radius: 6px;
  margin-bottom: 10px; }

.folio-style-home2 .portbox3 {
  margin-bottom: 0; }

.folio-style-home4 .portbox1 {
  margin-bottom: 0; }

.portbox3 .overlay-bx,
.portbox1 .overlay-bx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.portbox1 .overlay-bx {
  padding: 10px; }

.portbox1 .overlay-bx span {
  display: block;
  margin-bottom: 10px; }

.portbox3 .overlay-bx,
.portbox1 .portinner {
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s; }

.portbox3:hover .overlay-bx,
.portbox1:hover .portinner {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1); }

.portbox1 .overlay-bx .port-title {
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 0; }

.portbox1 .overlay-bx .port-title a {
  color: #fff; }

.portbox2 .dlab-media {
  position: relative; }

.portbox2 .dlab-media:after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  background: #0f0f0f;
  background: -moz-linear-gradient(top, rgba(15, 15, 15, 0) 0%, #0f0f0f 100%);
  background: -webkit-linear-gradient(top, rgba(15, 15, 0, 0) 0%, #0f0f0f 100%);
  background: linear-gradient(to bottom, rgba(15, 15, 15, 0) 0%, #0f0f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  left: 0;
  top: 0; }

.portbox2 .title {
  margin-bottom: 0; }

.portbox2 span {
  color: #fff;
  font-size: 15px; }

.portbox2 p {
  margin-bottom: 0;
  font-size: 15px;
  visibility: hidden;
  height: 1px;
  opacity: 0; }

.portbox2 .dlab-info-has {
  padding: 30px; }

.portbox2:hover .dlab-info-has {
  bottom: 50%;
  transform: translateY(50%);
  -moz-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%); }

.portbox2:hover span {
  display: none; }

.portbox2:hover p {
  visibility: visible;
  height: auto;
  opacity: 1; }

.portbox2:hover .title {
  margin-bottom: 10px; }

.portbox2:hover .dlab-media:after {
  background: #0f0f0f;
  opacity: 0.85; }

.portbox3 .portinner {
  max-width: 250px;
  margin: auto;
  position: relative;
  z-index: 1;
  top: -25px; }

.portbox3 .portinner .port-up {
  background: #fff;
  border-radius: 6px;
  padding: 20px; }

.portbox3 .portinner .port-up span {
  text-transform: uppercase;
  font-weight: 600;
  color: #5e5e5e;
  font-family: Montserrat;
  font-size: 14px; }

.portbox3 .portinner .port-down {
  background: var(--bg-color);
  position: absolute;
  top: 50px;
  height: 100%;
  width: calc(100% + 20px);
  vertical-align: bottom;
  display: flex;
  align-items: end;
  text-align: center;
  flex-direction: row;
  border-radius: 6px;
  z-index: -1;
  left: -10px; }

.portbox3 .portinner .port-down a {
  width: 100%;
  color: #000;
  font-weight: 400;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 15px;
  margin-top: auto; }

.portbox3 .portinner .port-up .port-title {
  margin-bottom: 0; }

.portbox3 .portinner .port-down a i {
  font-size: 18px; }

.portbox1 > img {
  transform: scale(1.05);
  transition: all 0.5s; }

.portbox1 {
  transition: all 0.5s;
  transform: scale(1); }

.portbox1:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2); }

.portbox1:hover > img {
  transform: scale(1); }

/* Filter ======= */
.filter-style2,
.filter-style1 {
  margin-bottom: 50px; }

.filter-style2 ul,
.filter-style1 ul {
  padding: 0; }

.filter-style2 li,
.filter-style1 li {
  color: #000;
  font-size: 18px;
  text-transform: none;
  font-weight: 500;
  margin: 0 20px;
  padding: 12px 0;
  position: relative;
  border-radius: 0; }

.filter-style2 li:hover,
.filter-style1 li:hover,
.filter-style2 li,
.filter-style1 li {
  background: transparent; }

.filter-style2 li {
  padding: 0; }

.filter-style2 li a,
.filter-style1 li a {
  color: #000;
  margin: 0; }

.filter-style2 li a {
  text-transform: uppercase; }

.filter-style2 li.active a {
  color: #737373; }

.filter-style1 li:before,
.filter-style1 li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: var(--bg-color);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s; }

.filter-style1 li:before {
  top: 0;
  left: -100%; }

.filter-style1 li:after {
  bottom: 0;
  right: -100%; }

.filter-style1 li:hover:before,
.filter-style1 li.active:before {
  top: 0;
  left: 0; }

.filter-style1 li:hover:after,
.filter-style1 li.active:after {
  right: 0; }

/* Video Section ======= */
.content-inner-1.video-sction {
  padding-top: 300px; }

.videoplay-bx {
  width: 140px;
  height: 140px;
  line-height: 140px;
  font-size: 50px;
  text-align: center;
  color: #2d2d2d;
  background-color: #fdfdfd;
  border-radius: 140px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.3); }

/* Team Member ======= */
.team-member {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }

.team-member .team-info,
.team-member .team-media {
  max-width: 50%;
  flex: 0 0 50%; }

.team-job-title {
  color: var(--bg-color-sc);
  font-size: 18px; }

.team-title {
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 15px; }

.team-info p {
  color: #898989;
  font-size: 18px;
  line-height: 30px; }

.team-perinfo {
  display: flex; }

.team-perinfo .team-sign {
  max-width: 130px;
  margin-right: 30px; }

.team-profile .name {
  padding-left: 15px; }

.team-profile .name h3 {
  font-weight: 600;
  margin-bottom: 5px; }

.team-profile .name span {
  color: #939393;
  margin-bottom: 10px;
  display: block; }

.team-pic {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  overflow: hidden;
  min-width: 45px;
  margin-top: 15px; }

.team-profile ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.team-profile ul li {
  display: inline-block; }

.team-profile ul li a {
  font-size: 18px;
  color: #222;
  padding-right: 20px; }

.team-profile {
  display: flex;
  align-items: start; }

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
  padding: 0;
  background: transparent;
  margin: 0 -15px; }

.team-carousel .owl-nav .owl-prev span,
.team-carousel .owl-nav .owl-next span {
  padding: 0;
  background: transparent;
  margin: 0 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600; }

.team-carousel .owl-nav .owl-prev i,
.team-carousel .owl-nav .owl-next i {
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 45px;
  background: var(--bg-color);
  font-size: 22px;
  line-height: 45px; }

/* Blog Half ======= */
.blog-half {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.blog-half .post-title {
  font-size: 38px;
  line-height: 44px; }

.dlab-post-meta ul li {
  color: #afafaf;
  font-weight: 400; }

.blog-half .dlab-post-text p {
  font-size: 18px;
  color: #afafaf;
  line-height: 35px; }

.blog-half .post-info {
  width: 45%;
  max-width: 45%;
  padding: 0 40px; }

.blog-half .blog-media {
  width: 55%;
  max-width: 55%; }

/* Client Box ======= */
.client-box {
  max-width: 680px;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 60px; }

.client-box .owl-theme .owl-dots {
  margin-left: 180px;
  text-align: left; }

.client-says {
  padding-left: 180px;
  position: relative; }

.client-says .testimonial-pic {
  width: 150px;
  height: 150px;
  border: 0;
  position: absolute;
  left: 0;
  top: 0; }

.client-says .testimonial-text {
  padding: 0; }

.client-says .testimonial-text p {
  position: relative;
  font-size: 18px;
  line-height: 28px;
  color: #4c4c4c;
  font-weight: 400;
  margin-bottom: 20px; }

.client-says .testimonial-name {
  color: #2b2b2b;
  font-family: Poppins;
  font-size: 22px;
  text-transform: none;
  font-weight: 600; }

.client-says .testimonial-position {
  font-size: 14px;
  font-style: inherit;
  text-transform: none;
  color: #2e2e2e; }

/* Table ======= */
.table-option {
  border: 2px solid #adadad;
  border-radius: 6px;
  padding: 50px 0px 30px 0; }

.table-option .pricingtable-title,
.table-option .pricingtable-price,
.table-option .pricingtable-footer,
.table-option .pricingtable-features,
.table-option .pricingtable-features li {
  border: 0;
  background-color: transparent; }

.table-option .pricingtable-title * {
  color: #000; }

.table-option .pricingtable-title h2 {
  font-size: 28px;
  line-height: 36px; }

.table-option .pricingtable-price,
.table-option .pricingtable-title {
  padding: 0; }

.table-option .pricingtable-bx {
  color: #000;
  font-family: Poppins;
  font-size: 63px;
  font-weight: 800; }

.table-option .pricingtable-bx strong,
.table-option .pricingtable-bx sup {
  font-size: 30px;
  font-weight: 700; }

.table-option .pricingtable-features li {
  color: #919191;
  font-size: 18px; }

.table-option:hover,
.table-option.active {
  background-color: #eeeeee;
  border: 2px solid #eeeeee; }

.dark.table-option:hover,
.dark.table-option.active {
  background-color: #404040;
  border: 2px solid #404040;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s; }

.dark.table-option {
  transition: all 0.5s; }

.dark.table-option:hover .pricingtable-features li,
.dark.table-option:hover .pricingtable-title h2,
.dark.table-option:hover .pricingtable-price .pricingtable-bx,
.dark.table-option.active .pricingtable-features li,
.dark.table-option.active .pricingtable-title h2,
.dark.table-option.active .pricingtable-price .pricingtable-bx {
  color: #fff;
  transition: all 0.5s; }

.dark.table-option:hover .pricingtable-footer .btn.black {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0);
  color: #000; }

/* Footer ======= */
.archi-footer.site-footer .footer-top {
  background-color: #202020;
  padding: 0; }

.archi-footer.site-footer .footer-bottom span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px; }

.archi-footer.site-footer .footer-bottom {
  background-color: #151515;
  border-radius: 0; }

.archi-footer.site-footer .footer-top .footer-logo {
  width: 200px; }

.archi-footer.site-footer .widget.widget-info {
  margin-bottom: 0; }

.archi-footer.site-footer .widget .title {
  font-size: 12px;
  font-family: Montserrat;
  letter-spacing: 3px;
  position: relative;
  padding: 10px 0px;
  display: -webkit-inline-box;
  margin-bottom: 20px;
  font-weight: 700; }

.archi-footer.site-footer .widget .title:after {
  content: "";
  height: 1px;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-color); }

.archi-footer.site-footer .widget-info p {
  color: #fff;
  margin: 0;
  font-size: 14px;
  word-wrap: break-word; }

.archi-footer.site-footer .footer-top [class*="col-"]:last-child {
  border: 0; }

.archi-footer.site-footer .footer-top [class*="col-"] {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 50px 30px; }

/* Gallery ======= */
.overlay-gallery-bx1 .primary.dlab-img-overlay1::after,
.overlay-gallery-bx1 .primary.dlab-img-overlay1::before {
  background-color: var(--bg-color); }

.overlay-gallery-bx1 .overlay-bx .overlay-icon a i {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  font-size: 14px; }

.overlay-gallery-bx1 .overlay-bx .icon-bx-xs {
  width: 60px;
  height: 60px;
  line-height: 60px; }

.project-area .section-head .head-title {
  color: #000;
  font-size: 45px;
  margin-bottom: 15px; }

.project-area .section-head p {
  max-width: 750px;
  font-weight: 400;
  color: #404040;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
  padding-top: 0; }

/* Project Info Box ======= */
.project-info-box {
  position: relative; }

.project-info-box .project-content {
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  padding: 40px 50px;
  width: 500px;
  transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s; }

.active .project-info-box .project-content {
  opacity: 1;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.project-carousel-1 .owl-nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px; }

.project-carousel-1 .owl-next,
.project-carousel-1 .owl-prev {
  padding: 0;
  background: transparent;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  margin: 0 15px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }

.project-carousel-1 .owl-next i,
.project-carousel-1 .owl-prev i {
  font-size: 22px; }

.project-area {
  position: relative;
  z-index: 1; }

.project-area:after {
  content: "";
  z-index: -1;
  background: #fff;
  height: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute; }

.project-style-2 .project-info-box .project-content {
  left: auto;
  top: auto;
  right: 0;
  bottom: 55px;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0); }

.project-style-2.project-carousel-1 .owl-nav {
  right: 0;
  bottom: 0;
  background: #2e2e2e;
  width: 500px; }

.project-style-2.project-carousel-1 .owl-next,
.project-style-2.project-carousel-1 .owl-prev {
  margin: 0;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 15px 20px; }

.project-style-2.project-carousel-1 .owl-next:hover,
.project-style-2.project-carousel-1 .owl-prev:hover {
  background-color: rgba(0, 0, 0, 0.2); }

/* Blog ======= */
.blog-grid.style1 {
  margin-bottom: 0; }

.blog-grid.style1 .dlab-post-text p {
  color: #7b7b7b;
  margin-bottom: 15px; }

.blog-grid.style1 .dlab-post-text .post-title a {
  color: #000; }

.blog-grid.style1 .dlab-post-text .post-title {
  margin-bottom: 10px; }

.blog-grid.style1 .dlab-post-text .post-date i {
  color: #000; }

.footer-bottom {
  padding: 0; }
  .footer-bottom .wpb_content_element {
    padding: 25px 0; }

.footer-bot-col {
  min-height: 0; }

.ft-copy {
  display: inline-block;
  padding: 25px 0; }
  .ft-copy:empty {
    display: none; }

.filter-style2 li, .filter-style1 li {
  text-transform: none; }

/*  Responsive */
@media only screen and (max-width: 1200px) {
  .team-perinfo .team-sign {
    max-width: 95px;
    margin-right: 15px; }
  .blog-half .post-title {
    font-size: 20px;
    line-height: 32px;
    margin-top: 0; }
  .team-title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 10px; }
  .team-info p {
    color: #898989;
    font-size: 15px;
    line-height: 26px; }
  .team-profile ul li a {
    font-size: 15px;
    padding-right: 10px; }
  .team-profile .name span {
    margin-bottom: 5px; }
  .team-profile .name h3 {
    margin-bottom: 0px;
    font-size: 22px; }
  .blog-half .dlab-post-text p {
    font-size: 15px;
    line-height: 28px; } }

@media only screen and (max-width: 991px) {
  .portbox1 .overlay-bx .port-title {
    font-size: 24px;
    line-height: 35px; }
  .team-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px; }
  .team-perinfo {
    flex-direction: column; }
  .blog-half {
    flex-direction: column; }
  .blog-half .post-info,
  .blog-half .blog-media {
    width: 100%;
    max-width: 100%; }
  .blog-half .post-info {
    padding: 20px 20px;
    background-color: #f9f9f9; }
  .client-box {
    margin-top: 0px;
    max-width: 100%;
    margin-bottom: 0; }
  .table-option .pricingtable-features li {
    font-size: 14px;
    padding: 8px; }
  .table-option .pricingtable-bx {
    font-size: 40px; }
  .table-option .pricingtable-bx strong,
  .table-option .pricingtable-bx sup {
    font-size: 18px; }
  .table-option .pricingtable-title h2 {
    font-size: 18px;
    line-height: 28px; }
  .table-option .pricingtable-title h2 {
    font-size: 18px;
    line-height: 28px; }
  .table-option {
    padding: 30px 0px 10px 0; }
  .section-head .head-title {
    font-size: 40px;
    line-height: 50px; }
  .header-full .logo-header {
    height: 60px;
    width: 120px; }
  .header-full .main-bar {
    padding: 0; }
  .header-full .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
  .header-full .menu-icon-in span {
    height: 2px; }
  .header-full .menu-icon-in {
    width: 20px;
    height: 15px; }
  .header-full .menu-icon {
    width: 40px;
    height: 40px;
    padding: 0; }
  .header-full .is-fixed .extra-nav,
  .header-full .extra-nav {
    padding: 10px 0; } }

@media only screen and (max-width: 767px) {
  .filter-style1 li {
    margin: 0 10px; }
  .team-member {
    flex-direction: column; }
  .team-member .team-info,
  .team-member .team-media {
    max-width: 100%;
    flex: 0 0 100%; }
  .team-member .team-info {
    text-align: center; }
  .team-perinfo .team-sign {
    max-width: 100%;
    margin-bottom: 15px; }
  .team-perinfo .team-sign img {
    max-width: 70px;
    display: inline-block; }
  .team-profile {
    flex-direction: column; }
  .team-pic {
    margin: auto; }
  .team-profile .name {
    padding-left: 0;
    width: 100%;
    margin-top: 10px; }
  .client-says {
    padding-left: 130px; } }

@media only screen and (max-width: 576px) {
  .client-says .testimonial-pic {
    width: 60px;
    height: 60px;
    position: unset;
    margin-bottom: 10px; }
  .client-says {
    padding-left: 0;
    text-align: center; }
  .client-box .owl-theme .owl-dots {
    margin-left: 0;
    text-align: center; }
  .team-carousel .owl-nav .owl-prev,
  .team-carousel .owl-nav .owl-next {
    margin: 0 0px; }
  .section-head .head-title {
    font-size: 28px;
    line-height: 35px; }
  .section-head p {
    font-size: 14px; }
  .filter-style1 li:before,
  .filter-style1 li:after {
    height: 2px; }
  .filter-style1 li {
    padding: 5px 0;
    font-size: 14px; }
  .filter-style1 li {
    margin: 0 5px; } }

/* Home 2 ======= */
.header-full.style1 .main-bar {
  background-color: #121a2d;
  padding: 0; }

.header-full.style1 .menu-icon {
  width: 40px;
  height: 40px; }

.menu-icon-in span {
  height: 3px; }

.header-full.style1 .menu-icon-in {
  width: 23px;
  height: 16px; }

.header-full.style1 .is-fixed .header-content-bx > .logo-header,
.header-full.style1 .header-content-bx .logo-header {
  height: 60px;
  width: 150px; }

.header-full.style1 .extra-nav .extra-cell > ul {
  display: flex; }

.header-full.style1 .extra-nav .extra-cell > ul > li {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  display: flex;
  padding: 10px 20px; }

.header-full.style1 .extra-nav .extra-cell > ul > li.search-btn {
  padding-right: 0; }

.header-full.style1 .extra-nav {
  padding: 0; }

.header-full.style1 .contact-no span {
  color: #fff;
  font-family: Poppins;
  font-size: 18px; }

.header-full.style1 .header-social ul {
  margin: 0;
  /*padding:;*/ }

.header-full.style1 .header-social ul li a {
  color: #fff;
  font-size: 18px;
  padding: 0 10px; }

.header-full.style1.white .main-bar {
  background-color: #fff; }

.header-full.style1.white .header-social ul li a,
.header-full.style1.white .contact-no span {
  color: #000; }

.header-full.style1.white .extra-nav .extra-cell > ul > li {
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.header-full.style1.white .btn.white {
  background-color: #f1f1f1; }

/* About Us Box ======= */
.about-year span {
  font-size: 85px;
  color: #000;
  font-weight: 600;
  line-height: 85px;
  position: relative;
  padding-left: 50px;
  padding-right: 15px;
  z-index: 1; }

.about-year p {
  font-size: 22px;
  color: #000;
  margin-bottom: 0; }

.about-year span:after {
  content: "";
  width: 130px;
  height: 130px;
  display: block;
  position: absolute;
  border: 5px solid var(--bg-color);
  left: 0;
  top: -25px;
  z-index: -1; }

.about-year {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px; }

.about-bx1-content p {
  color: #555555;
  font-size: 18px;
  line-height: 28px; }

.about-bx1-content h2 {
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 20px; }

.list-details {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 430px; }

.list-details li {
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.list-details li:first-child {
  border-top: 0; }

/* Project Slider */
.project-slider {
  position: relative;
  z-index: 1; }

.project-slider .container {
  position: relative;
  z-index: 1; }

.project-slider-row-vc {
  position: relative; }
  .project-slider-row-vc:after {
    content: "";
    background: #ebebeb;
    height: 100%;
    width: calc(50% - 80px);
    position: absolute;
    top: 0;
    left: 0; }

.project-slider:after {
  content: "";
  background: #ebebeb;
  height: 100%;
  width: calc(50% - 80px);
  position: absolute;
  top: 0;
  left: 0; }

.project-slider .about-bx1-content {
  max-width: 600px;
  padding-left: 45px; }

.about-bx1-content-vc {
  max-width: 600px;
  padding-left: 45px; }

.project-carousel.owl-btn-1 .owl-prev,
.project-carousel.owl-btn-1 .owl-next {
  border-radius: 50px;
  background: #000;
  color: #fff; }

/* Form Box ======= */
.form-box .title {
  font-size: 30px;
  line-height: 45px;
  color: #424344;
  font-weight: 400;
  margin-bottom: 30px; }

.form-box .sign {
  font-family: Montserrat;
  color: #424344;
  font-weight: 400;
  text-transform: uppercase; }

.form-box {
  background: #e9f2f7;
  border-radius: 10px;
  padding: 70px 80px; }
  .form-box.vc_column_container {
    padding: 70px 80px; }

.form-img {
  width: calc(100% + 150px);
  position: absolute;
  top: -120px;
  z-index: 1;
  margin-bottom: -50px; }
  .form-img.wpb_content_element {
    margin-bottom: -50px; }

.form-content-box {
  padding-top: 200px;
  background-image: url(../../images/pattern/pt1.png), url(../../images/pattern/pt1.png);
  background-repeat: no-repeat;
  background-position: right top 70px, left bottom; }

.form-box .form-control {
  height: 70px;
  border-radius: 60px;
  font-size: 15px;
  border: 0;
  padding: 0 40px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.05); }

.form-box .btn {
  height: 70px;
  width: 100%;
  font-size: 14px;
  background: #444548;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.05); }

/* Slider 2 ======= */
.slide2 .rev_slider .tp-leftarrow {
  margin-right: 25px; }

.slide2 .rev_slider .tp-rightarrow {
  margin-left: 25px; }

.slide2 .rev_slider .tparrows.uranus {
  width: auto !important;
  height: auto !important;
  display: flex;
  align-items: center; }

.slide2 .rev_slider .tparrows.uranus.tp-rightarrow:before, .slide2 .rev_slider .tparrows.uranus.tp-leftarrow:after {
  font-family: 'Oswald', sans-serif;
  font-size: 16px !important;
  width: auto !important;
  height: auto !important;
  line-height: 20px !important;
  display: inline-block; }

.slide2 .rev_slider .tparrows.uranus.tp-rightarrow:before {
  content: "NEXT"; }

.slide2 .rev_slider .tparrows.uranus.tp-leftarrow:after {
  content: "PREV";
  color: #fff; }

.slide2 .rev_slider .uranus.tparrows.tp-rightarrow:after,
.slide2 .rev_slider .uranus.tparrows.tp-leftarrow:before {
  font-family: "LineAwesome";
  color: #fff;
  display: inline-block;
  line-height: 20px !important;
  font-size: 24px !important;
  margin-left: 15px !important;
  opacity: 0.25;
  width: auto !important;
  height: auto !important; }

.slide2 .rev_slider .uranus.tparrows.tp-leftarrow:before {
  margin-left: auto !important;
  margin-right: 15px !important; }

.slide2 .rev_slider .uranus.tparrows.tp-rightarrow:hover:after,
.slide2 .rev_slider .uranus.tparrows.tp-leftarrow:hover:before {
  opacity: 0.25 !important; }

.slide2 .rev_slider .uranus.tparrows.tp-rightarrow:after {
  content: "\f121"; }

.slide2 .rev_slider .uranus.tparrows.tp-leftarrow:before {
  content: "\f120"; }

.slide2 .rev_slider .uranus.tparrows.tp-leftarrow:hover:after {
  opacity: 0.75 !important; }

/* Number */
.slide2 .tp-bullet:first-child:after {
  content: "01"; }

.slide2 .tp-bullet:nth-child(2):after {
  content: "02"; }

.slide2 .tp-bullet:nth-child(3):after {
  content: "03"; }

.slide2 .tp-bullet:nth-child(4):after {
  content: "04"; }

.slide2 .tp-bullet:nth-child(5):after {
  content: "05"; }

.slide2 .tp-bullet:nth-child(6):after {
  content: "06"; }

.slide2 .tp-bullet:nth-child(7):after {
  content: "07"; }

.slide2 .tp-bullets.hermes {
  width: 40px !important;
  height: 95px !important; }

.slide2 .hermes .tp-bullet,
.slide2 .hermes .tp-bullet.selected {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  box-shadow: none;
  border-radius: unset;
  overflow: unset;
  width: 100%;
  position: unset;
  height: auto; }

.slide2 .hermes .tp-bullet:after,
.slide2 .hermes .tp-bullet.selected:after {
  background: transparent;
  box-shadow: none;
  color: #fff;
  height: auto;
  width: auto;
  border-radius: unset;
  overflow: unset;
  position: unset; }

.slide2 .hermes .tp-bullet {
  width: 50%;
  display: inline-block;
  padding: 0 3px;
  text-align: center;
  opacity: 0; }

.slide2 .hermes .tp-bullet.selected {
  position: absolute;
  bottom: 0px !important;
  line-height: 45px;
  height: 50px;
  top: auto !important;
  left: 0 !important;
  opacity: 1; }

.slide2 .hermes .tp-bullet.selected:after {
  color: var(--text-color);
  font-size: 40px; }

/* Sr Numbox ======= */
.sr-numbox .box-number {
  font-size: 55px;
  font-weight: 400;
  font-family: poppins;
  line-height: 60px;
  padding: 0 0 15px 3px;
  position: relative;
  float: left; }

.sr-numbox .box-number:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #dfdfdf; }

.sr-numbox .dlab-tilte {
  align-self: end;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 30px;
  margin-bottom: 10px;
  padding-left: 30px;
  margin-top: auto; }

/* Team ======= */
.team-info-contact h2 {
  font-size: 40px; }

.team-info-contact p {
  font-size: 18px;
  line-height: 28px; }

/* Archi Info ======= */
.archi-info {
  position: relative;
  display: inline-block;
  text-align: left; }

.archi-info i {
  position: absolute;
  left: 0;
  font-size: 30px;
  top: 10px; }

.team-info-contact .archi-info i {
  color: var(--purple); }

/* Team Slider ======= */
.team-slider {
  margin-bottom: 30px; }

.team-slider .owl-dots .owl-dot span {
  height: 8px;
  width: 8px;
  background-color: #000;
  margin: 0; }

.team-slider .owl-dots .owl-dot {
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 50px;
  margin: 5px; }

.team-slider .owl-dots .owl-dot.active {
  border: 2px solid var(--purple); }

.team-slider .owl-dots .owl-dot:hover span,
.team-slider .owl-dots .owl-dot.active span {
  background-color: var(--purple); }

.team-slider.owl-theme .owl-dots {
  margin-top: 0;
  position: absolute;
  left: -60px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 25px; }

/* Project Area ======= */
.project-area-info {
  background-color: #fff; }

.project-area-info .project-content {
  margin-left: -70px; }

.project-area-info .owl-nav .owl-prev,
.project-area-info .owl-nav .owl-next {
  background-color: rgba(0, 0, 0, 0); }

.project-area-info .owl-nav .owl-prev i,
.project-area-info .owl-nav .owl-next i {
  font-size: 40px;
  color: #fff; }

.project-area-info .owl-nav .owl-prev {
  left: -100px; }

.project-area-info .owl-nav .owl-next {
  right: -100px; }

/* ===== Home Style 5 ===== */
/* Archia Header ======= */
.header-archia .search-btn {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  color: #fff; }

.header-archia .contact-info {
  padding-left: 35px;
  position: relative;
  margin-right: 30px; }

.header-archia .contact-info span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8); }

.header-archia .contact-info h4 {
  font-size: 20px;
  line-height: 20px;
  color: #fff; }

.header-archia .contact-info i {
  position: absolute;
  align-self: center;
  line-height: 40px;
  font-size: 30px;
  left: 0;
  color: var(--text-color); }

.header-archia .extra-cell {
  margin-left: 30px; }

.header-archia .extra-cell ul {
  display: flex; }

.header-archia .header-nav .nav > li > a {
  font-size: 15px;
  padding: 18px 20px; }

.header-archia .logo-header {
  height: 60px; }

.header-archia.header-transparent .main-bar {
  padding: 30px 0; }

.header-archia .header-nav .nav > li > a {
  border-bottom: 3px solid rgba(0, 0, 0, 0); }

.header-archia .header-nav .nav > li .sub-menu {
  border-radius: 5px; }

.header-archia .header-nav .nav > li.active a,
.header-archia .header-nav .nav > li:hover > a {
  border-color: var(--bg-color); }

.header-archia.header-transparent .is-fixed .main-bar {
  padding: 0; }

.header-archia .is-fixed .header-nav .nav > li > a,
.header-archia .is-fixed .contact-info span,
.header-archia .is-fixed .contact-info h4 {
  color: #000; }

.header-archia .is-fixed .header-nav .nav > li > a {
  padding: 20px; }

.header-archia .is-fixed .logo-header {
  height: 65px; }

.header-archia .header-nav .nav > li .sub-menu {
  width: 270px; }

.header-archia .header-nav .nav > li .sub-menu li:hover > a,
.header-archia .header-nav .nav > li .sub-menu li .sub-menu li:hover a {
  background-color: var(--bg-color);
  color: #fff; }

.header-archia .header-nav .nav > li .sub-menu li a {
  color: #6f6f6f; }

.header-archia .header-nav .nav > li .sub-menu li a {
  padding: 15px 35px;
  border-radius: 0; }

.header-archia .header-nav .nav > li .sub-menu li:hover > .sub-menu {
  left: 280px; }

.header-archia .header-nav .nav > li .sub-menu li > .sub-menu::after {
  content: "";
  left: -10px;
  top: 20px;
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #dedede; }

.header-archia .header-nav .nav > li .sub-menu li > .sub-menu {
  background-color: #dedede; }

.header-archia .header-nav .nav > li .sub-menu li > .sub-menu li a {
  color: #2c2c2c; }

.header-archia .header-nav .nav > li .sub-menu li:first-child > a {
  border-radius: 5px 5px 0 0; }

.header-archia .header-nav .nav > li .sub-menu li:last-child > a {
  border-radius: 0 0 5px 5px; }

.header-archia .header-nav .nav > li .sub-menu li a {
  font-size: 14px;
  font-weight: 400; }

.header-archia .header-nav .nav > li .sub-menu li a:after,
.header-archia .header-nav .nav > li .sub-menu li a:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: #fff;
  top: 50%;
  border-radius: 50px;
  opacity: 0; }

.header-archia .header-nav .nav > li .sub-menu li a:after {
  right: 20px; }

.header-archia .header-nav .nav > li .sub-menu li a:before {
  right: 30px; }

.header-archia .header-nav .nav > li .sub-menu li:hover > a:after,
.header-archia .header-nav .nav > li .sub-menu li:hover > a:before {
  opacity: 1; }

.header-archia .navbar-toggler,
.header-archia .is-fixed .navbar-toggler {
  margin: 22px 0 22px 15px; }

.header-archia .is-fixed .navbar-toggler span {
  background-color: #000; }

.header-archia .header-nav .nav > li .sub-menu li > .sub-menu.sub-sub-menu {
  top: 0; }

.header-archia .header-nav .nav > li .sub-menu li > .sub-menu.sub-sub-menu,
.header-archia .header-nav .nav > li .sub-menu li:hover .sub-menu.sub-sub-menu {
  left: auto;
  right: 280px; }

.header-archia .header-nav .nav > li .sub-menu li > .sub-menu.sub-sub-menu:after {
  left: auto;
  right: -10px;
  border-right: 0;
  border-left: 10px solid #dedede; }

/* About Us ======= */
.about-us h2 {
  font-size: 46px;
  font-weight: 700;
  color: #272727;
  line-height: 54px; }

.about-us p {
  color: #7b7b7b;
  font-size: 18px;
  line-height: 30px; }

/* Project Info ======= */
.project-info {
  background-color: #fff;
  padding: 80px 80px 60px;
  border-radius: 50px;
  background-image: url(../../images/pattern1.png), url(../../images/pattern2.png);
  background-position: -55px, 200px;
  background-repeat: no-repeat;
  background-size: cover; }

.project-info .project-title {
  font-size: 45px;
  line-height: 55px;
  color: #222; }

.project-info .project-description {
  font-size: 17px;
  line-height: 30px;
  color: #676565;
  margin-bottom: 30px; }

.project-info .project-time {
  color: #676565; }

.project-info .project-social-list a {
  color: #999; }

.project-info .info-number {
  font-size: 30px; }

.project-info .project-social-list {
  padding: 0; }

.project-info .project-social-list li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  font-size: 20px; }

.text-blue-dark {
  color: #101e4e; }

.section-head .pre-title {
  font-weight: 400;
  text-transform: uppercase;
  color: #272727;
  font-size: 13px;
  letter-spacing: 3px; }

/* Our Team ======= */
.our-team .social-list {
  padding: 0;
  margin: 10px 0 0; }

.our-team .social-list li a {
  text-decoration: none; }

.our-team .social-list li {
  display: inline-block;
  font-size: 20px;
  padding: 10px; }

.our-team .team-title-bx {
  padding: 30px  0 0 0; }

.our-team .dlab-media.radius-sm img {
  border-radius: 5px; }

.our-team .team-title-bx span {
  font-size: 20px;
  color: #7c7c7c; }

.our-team .team-title-bx .team-title {
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 10px; }

/* Inner Page Banner ======= */
.dlab-bnr-inr {
  margin-bottom: 40px; }

.dlab-bnr-inr-entry {
  position: relative; }

.dlab-bnr-inr h1 {
  font-weight: 700;
  font-size: 60px;
  font-family: poppins;
  line-height: 60px; }

.dlab-bnr-inr p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5); }

.dlab-bnr-inr .breadcrumb-row {
  background-color: #fff;
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -40px;
  text-align: left;
  text-transform: none; }

.dlab-bnr-inr .breadcrumb-row ul li,
.dlab-bnr-inr .breadcrumb-row ul li a,
.dlab-bnr-inr .breadcrumb-row ul li::after {
  color: #8799a3; }

.dlab-bnr-inr .breadcrumb-row ul li:last-child {
  color: #475963; }

.dlab-bnr-inr .breadcrumb-row ul li:first-child:after {
  content: unset; }

.dlab-bnr-inr .breadcrumb-row ul li {
  text-transform: none;
  padding: 30px 10px;
  margin: 0;
  font-size: 16px; }

.dlab-bnr-inr .breadcrumb-row ul li:first-child {
  padding: 0; }

.dlab-bnr-inr .breadcrumb-row ul li:first-child a {
  padding: 30px 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 30px; }

.dlab-bnr-inr .breadcrumb-row ul li::after {
  margin-left: 20px; }

/* About Bx ======= */
.about-bx {
  box-shadow: 0 0 11px 5px rgba(102, 102, 102, 0.1);
  padding: 0 30px 30px 30px;
  border-radius: 5px;
  margin-top: 30px; }

.about-bx .bg-primary {
  background: var(--bg-color); }

.about-bx .icon-bx-sm {
  position: relative;
  top: -30px; }

.about-bx .icon-content {
  padding: 0 0px 10px 20px; }

.about-bx .icon-content .dlab-tilte {
  color: #252525;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px; }

.about-bx .icon-content p {
  color: #696969;
  font-size: 16px;
  line-height: 28px; }

/* Video Bx ======= */
.video-bx {
  padding: 130px 0; }

.video-box-content .video-title,
.video-bx .video-title {
  font-size: 42px; }

.video-box-content,
.video-bx .video-content {
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: 0 auto 50px; }

.popvid-colored.video-play,
.video-bx .video-play {
  margin-bottom: 60px; }

.popvid-colored.video-play .popup-youtube:hover,
.video-bx .video-play .popup-youtube:hover {
  color: #fff; }

.popvid-colored.video-play .popup-youtube,
.video-bx .video-play .popup-youtube {
  height: 135px;
  width: 135px;
  border: 2px solid;
  border-radius: 50%;
  line-height: 135px;
  font-size: 36px;
  display: block;
  text-align: center;
  margin: auto; }

.video-bx1 {
  position: relative; }

.video-bx1 .video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99; }

.video-bx1 .video-play a {
  height: 80px;
  width: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 20px; }

.video-bx2 .video-play a {
  height: 80px;
  width: 80px;
  font-size: 30px;
  background-color: var(--bg-color);
  color: #fff;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  float: left;
  margin-right: 20px; }

.video-bx2 .video-play p {
  font-weight: 600;
  font-size: 13px;
  padding: 22px 0;
  line-height: 18px; }

.video-bx2 {
  background-color: #fff;
  border: 4px solid var(--text-color);
  padding: 30px;
  width: 300px; }

.video-bx2 .years-date {
  font-size: 96px;
  line-height: 96px;
  font-weight: 800;
  margin-bottom: 0; }

.video-bx2 .years {
  font-size: 28px;
  margin-bottom: 0;
  line-height: 28px;
  font-weight: 700; }

.video-bx2 .years-work {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 22px; }

.video-info {
  position: relative; }

.video-info .video-bx2 {
  position: absolute;
  bottom: 40px;
  left: 0; }

.video-bx .video-play.play-bg-primary .popup-youtube {
  border: 0;
  background-color: var(--bg-color);
  color: #fff; }

.video-bx .video-play.play-bg-primary {
  margin-bottom: 0; }

/* About Me ======= */
.about-me .about-thumb {
  border-left: 25px solid var(--text-color);
  z-index: 99;
  position: relative;
  margin: 35px 0; }

.about-me .about-email-bx .title {
  font-size: 26px; }

.about-me .bg-half {
  position: relative; }

.about-me .bg-half::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #f1f1f1;
  z-index: 1;
  width: 75%; }

.about-me .about-email-bx {
  padding: 20px;
  z-index: 9;
  position: relative; }

.about-me .about-email-bx form .form-control {
  text-align: center;
  height: 65px;
  border-radius: 50px;
  border: 0;
  font-size: 14px; }

/*.about-me .about-me-info .title{
	font-size: 40px;
}
.about-me .about-me-info .sub-title{
    color: rgba(0,0,0,0.3);
    font-size: 20px;
    text-decoration: underline;
}
.about-me .about-me-info .widget_getintuch strong {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
	color: #000;
}
.about-me .about-me-info .widget_getintuch{
	margin-bottom: 0;
}
.about-me .about-me-info .widget_getintuch li{
	color: rgba(0,0,0,0.4);
    padding-left: 50px;
}*/
.wpb_content_element.about-me-info .title {
  font-size: 40px; }

.wpb_content_element.about-me-info .sub-title {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  text-decoration: underline; }

.wpb_content_element.about-me-info .widget_getintuch strong {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #000; }

.wpb_content_element.about-me-info .widget_getintuch {
  margin-bottom: 0; }

.wpb_content_element.about-me-info .widget_getintuch li {
  color: rgba(0, 0, 0, 0.4);
  padding-left: 50px; }

/* Progress Section ======= */
.progress-section .progress-bx .progress {
  margin-right: 50px; }

.progress-section .progress-bx .count-box {
  float: right;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  line-height: 10px; }

.progress-bx .bg-pink {
  background-color: #7200ff; }

.progress-bx .bg-red {
  background-color: #f13646; }

.progress-bx .bg-green {
  background-color: #41b649; }

.progress-section .progress-bx .progress {
  height: 8px;
  border-radius: 50px;
  overflow: unset; }

.progress-section .progress-bx {
  margin-bottom: 30px; }

.progress-section .progress-bx .title {
  font-size: 15px; }

.progress-section .progress-bx .progress-bar {
  position: relative;
  border-radius: 50px; }

.progress-section .progress-bx .progress-bar::after {
  content: "";
  height: 24px;
  width: 24px;
  background-color: #fff;
  right: -2px;
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1); }

.archia-counter .counter {
  font-size: 50px;
  font-weight: 700;
  color: #000;
  line-height: 60px;
  margin-bottom: 0; }

.archia-counter i {
  color: #8799a3; }

/* Team ======= */
.our-team.team-style1 .team-title-bx .team-title {
  font-size: 26px;
  color: #fff;
  line-height: 36px;
  font-weight: 700; }

.our-team.team-style1 .team-title-bx span {
  font-size: 16px;
  color: #fff; }

.our-team.team-style1 .team-title-bx {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 99;
  opacity: 0; }

.our-team.team-style1 .dlab-media:after {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  transition: all 0.5s; }

.our-team.team-style1:hover .dlab-media:after {
  opacity: 0.7; }

.our-team.team-style1:hover .team-title-bx {
  opacity: 1;
  transition: all 0.5s; }

/* Portfolio ======= */
.portfolio-1 .dlab-box .port-box .title {
  font-size: 20px;
  margin-bottom: 5px; }

.portfolio-1 .dlab-box .port-box p {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7); }

.portfolio-1 .dlab-box .port-box {
  padding: 40px 35px; }

/* Blog ======= */
.blog-post.shadow .dlab-post-name,
.blog-post.shadow .dlab-info ul li a,
.blog-post.shadow .dlab-info ul li i,
.blog-post.shadow .dlab-info ul li {
  color: #8799a3; }

.blog-post.shadow .dlab-post-name a {
  color: var(--text-color); }

.blog-post.shadow .dlab-post-meta li::after {
  content: ""; }

/* Pagination Bx Radius ======= */
.pagination-bx.radius .pagination li a {
  padding: 13px 18px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500; }

/*<<<<<<< HEAD:assets/css/theme-css/templete.css
=======*/
/*.pagination .nav-links .span,*/
.pagination .page-numbers.current,
.pagination-bx.radius .pagination li.active a {
  background-color: var(--bg-color); }

.pagination-bx.radius .pagination li {
  margin: 0 3px;
  display: inline; }

.pagination-bx.radius .pagination li span {
  border: 0;
  border-radius: 50px;
  padding: 0;
  font-size: 15px; }

.pagination-bx.radius .pagination {
  display: block; }

.pagination-bx.radius .pagination li span:hover {
  background-color: unset;
  color: #000; }

.pagination-bx.radius {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  margin: 50px; }

/* Blog Half ======= */
.blog-post.blog-half.blog-half1 {
  align-items: unset; }

.blog-post.blog-half.blog-half1 .dlab-post-title {
  background-color: #fff;
  z-index: 9;
  position: relative; }

.blog-post.blog-half.blog-half1 .dlab-post-title.left {
  margin: 0 0 0 -150px;
  padding: 30px 10px 20px 40px; }

.blog-post.blog-half.blog-half1 .dlab-post-title.right {
  margin: 0 -150px 0 0;
  padding: 30px 40px 20px 10px; }

.blog-post.blog-half.blog-half1 .dlab-post-text p {
  font-size: 15px;
  color: #7b7b7b;
  line-height: 25px; }

.blog-post .dlab-post-text p {
  color: #676767; }

.blog-masonry .blog-post {
  margin-bottom: 30px; }

.blog-masonry .blog-post .post-title {
  font-size: 24px;
  line-height: 32px; }

/* Section Head 2 ======= */
.section-head.style2 .head-title {
  font-size: 36px;
  line-height: 46px;
  width: 55%;
  margin: 5px auto 20px; }

.section-head.style2 .pre-title {
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 3px;
  color: #848484;
  font-weight: 600; }

.section-head.style2 p {
  font-size: 14px;
  color: #7b7b7b;
  font-weight: 400; }

.portfolio-bx .portbox1 {
  margin-bottom: 0;
  border-radius: 0; }

.portfolio-bx .overlay-bx .port-title {
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 15px; }

.portfolio-bx .overlay-bx span {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px; }

.btn-video {
  padding: 14px 18px; }

/* Widget Getintuch Project Details ======= */
.container-fluid {
  padding-left: 55px;
  padding-right: 55px; }

.project-img-bx img {
  width: 100%; }

/*.widget_getintuch-pro-details{
	margin-bottom: 0;
}
.widget_getintuch-pro-details .pro-details i {
    background-color: #f5f5f5;
    height: 53px;
    width: 53px;
    color: #000;
    border-radius: 50px;
    line-height: 53px;
    font-size: 20px;
	top: 0;
}
.widget_getintuch-pro-details .pro-details {
    padding-left: 70px;
    margin-bottom: 30px;
    position: relative;
}*/
/* Project Details ======= */
.project-carousel .owl-nav .owl-prev i,
.project-carousel .owl-nav .owl-next i {
  height: 50px;
  width: 50px;
  background: var(--bg-color-sc);
  color: #fff;
  border-radius: 50px;
  font-size: 22px;
  text-align: center;
  line-height: 50px; }

.project-carousel .owl-nav .owl-prev,
.project-carousel .owl-nav .owl-next {
  background-color: rgba(0, 0, 0, 0);
  padding: 0; }

.project-carousel .owl-nav .owl-prev {
  left: 10%; }

.project-carousel .owl-nav .owl-next {
  right: 10%; }

/* Company History ======= */
.animation-jet {
  max-width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.history-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px; }

.company-history-wrap:last-child .history-box {
  margin-bottom: 30px; }

.history-box .history-media {
  flex: 0 0 70%;
  max-width: 70%; }

.history-box .history-details {
  flex: 0 0 30%;
  padding-right: 50px;
  max-width: 30%; }

.thumb-left .history-box {
  flex-direction: row-reverse; }

.thumb-left .history-box .history-details {
  padding-left: 50px;
  padding-right: 0; }

.history-head {
  border-left: 4px solid var(--bg-color);
  padding-left: 25px; }

.history-box p {
  color: #666666;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 0; }

.history-head h2 {
  font-size: 60px;
  font-weight: 200;
  color: #999999; }

.history-head h3 {
  color: #333333; }

/* Error Page ======= */
.error-page .dz_error {
  font-family: Poppins;
  font-size: 260px;
  color: #1c1c1c;
  font-weight: 700;
  line-height: 260px; }

.error-page .error-head {
  font-size: 40px;
  font-weight: 400;
  color: #484646;
  line-height: 55px;
  max-width: 760px;
  display: inline-block;
  margin-bottom: 25px; }

.searchform .input-group .btn {
  border-radius: 50px;
  padding: 0;
  width: 100%;
  height: 100%; }

.searchform .input-group .btn:hover {
  background-color: transparent; }

.searchform .input-group .btn img {
  width: 21px; }

.searchform .input-group .form-control,
.searchform .input-group .form-control:active,
.searchform .input-group .form-control:focus {
  border: 0;
  background-color: transparent;
  padding: 25px 30px;
  font-weight: 500;
  color: #495057; }

.searchform .input-group-btn {
  width: 60px;
  padding: 0; }

.searchform .input-group {
  border: 2px solid #eceef2;
  border-radius: 40px;
  flex-wrap: nowrap; }

.error-page .subscribe-form {
  max-width: 560px;
  width: 560px;
  display: inline-block; }

/* Comign Soon ======= */
.coming-soon {
  height: 100vh;
  position: relative; }

.countdown .date div strong {
  font-size: 20px;
  font-weight: 400;
  color: #1b1b1b;
  text-transform: uppercase;
  box-shadow: inset 0px -4px 0 var(--bg-color);
  line-height: 18px;
  display: inline-block; }

.countdown .date div {
  display: block;
  line-height: 30px; }

.countdown .date {
  display: inline-block;
  text-align: center;
  width: 130px; }

.countdown .date .time {
  font-size: 70px;
  font-family: Poppins;
  color: #000;
  font-weight: 700;
  display: block; }

.countdown-box {
  display: flex;
  line-height: 70px;
  align-items: start;
  padding: 50px 50px 0; }

.countdown-box .countdown {
  margin-left: auto; }

.coming-head h2 {
  line-height: 162px;
  font-size: 162px;
  display: inline;
  position: relative; }

.coming-head h2 strong {
  color: #1b1b1b; }

.coming-head h2 span {
  font-size: 40px;
  color: #1b1b1b;
  position: absolute;
  right: 26px;
  line-height: 40px; }

.coming-head {
  display: block;
  max-width: 1170px;
  text-align: center;
  margin-top: 50px; }

.coming-head .input-group .btn {
  border-radius: 40px;
  height: 40px;
  padding: 0;
  width: 40px;
  margin: 5px;
  color: #000; }

.coming-head .subscribe-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.coming-head .subscribe-form .form-control:hover,
.coming-head .subscribe-form .form-control:active,
.coming-head .subscribe-form .form-control:focus,
.coming-head .subscribe-form .form-control {
  border: 0;
  border-radius: 40px !important; }

.coming-head .input-group {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 50px; }

/* Contact Us ======= */
.section-head.contact-title span {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }

.section-head.contact-title p {
  font-weight: 400; }

.section-head.contact-title h2 {
  font-size: 67px;
  line-height: 80px;
  color: #000; }

/* Contact Box ======= */
.contact-box .form-control {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  height: 60px;
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
  font-weight: 300; }

.contact-box textarea.form-control {
  height: 180px; }

.contact-box .form-control:hover,
.contact-box .form-control:active,
.contact-box .form-control:focus {
  background-color: #fff;
  border: 2px solid #000; }

.contact-box .section-head h2 {
  color: #000;
  font-size: 32px; }

.contact-box .section-head p {
  font-weight: 400; }

.contact-box .icon-content p {
  color: #7b7b7b; }

/* Author Box ======= */
.author-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #c4c4c4; }

.author-box.blog-user .author-profile-info {
  display: flex; }

.blog-user .author-profile-pic {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: none;
  z-index: 2;
  position: relative;
  margin-top: 5px;
  border: 0; }

.blog-user .author-profile-content {
  padding-left: 20px;
  text-align: left;
  padding-top: 0; }

.blog-user .author-profile-content p {
  margin-bottom: 10px;
  font-size: 14px; }

.author-profile-content ul li a i {
  margin-left: 0; }

.author-profile-content ul li a {
  color: #000;
  font-size: 15px;
  margin-right: 15px; }

/* Recent Post Box ======= */
.recent-post-bx .dlab-post-meta ul li i {
  color: #afafaf; }

.recent-post-bx .dlab-post-title .post-title {
  margin-bottom: 5px;
  margin-top: 20px; }

.recent-post-bx.blog-post .dlab-post-text p {
  color: #676767;
  font-size: 14px; }

.related-post .owl-nav {
  position: absolute;
  top: 15px;
  right: 10px; }

.related-post .owl-prev,
.related-post .owl-next {
  width: 34px;
  height: 34px;
  background: #000;
  color: #fff;
  line-height: 34px;
  padding: 0;
  text-align: center;
  transition: all 0.5s; }

.related-post .owl-prev:hover,
.related-post .owl-next:hover {
  background: #fff;
  color: #000; }

.slide-social {
  margin: 0;
  margin-left: 0px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
  align-items: center; }

.slide-social li:first-child {
  margin-right: 10px; }

.slide-social li {
  display: inline-block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  color: #000000; }

.share-post .slide-social a i:hover {
  color: #ed145b; }

.share-post .slide-social a i {
  color: #464646;
  font-size: 18px;
  padding: 0 0 0 10px; }

.post-link-in {
  padding: 15px 30px;
  display: inline;
  background: var(--bg-color);
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 20px; }

.post-link-in:hover {
  color: #fff; }

.blog-post.blog-single .dlab-post-meta {
  margin-bottom: 30px; }

.blog-post.blog-single .dlab-post-meta li {
  margin-right: 20px; }
  .blog-post.blog-single .dlab-post-meta li ul li {
    margin-right: 0; }

.blog-post.blog-single .dlab-post-meta li.dlab-post-name a {
  color: var(--text-color); }

.blog-post.blog-single .dlab-post-meta li.dlab-post-name img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 5px; }

.blog-post.blog-single .dlab-post-meta li:after {
  content: none; }

.blog-post.blog-single .dlab-post-meta i {
  color: #999999; }

/* Video Full ======= */
.video-full {
  margin-top: -40px;
  display: flex;
  align-items: center; }

.video-full.overlay-black-dark:after {
  opacity: 0; }

.video-content-box h2 {
  font-size: 85px;
  line-height: 85px;
  text-transform: uppercase;
  color: #252525;
  font-weight: 800;
  margin-bottom: 15px; }

.video-content-box h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #252525;
  font-family: Open Sans;
  letter-spacing: 30px; }

.video-content-box {
  /*margin-left: auto;*/
  max-width: 900px; }

.video-content-box a.video {
  width: 100px;
  height: 100px;
  background: #fff;
  text-align: center;
  font-size: 30px;
  color: #000;
  display: block;
  line-height: 100px;
  border-radius: 50px;
  margin-bottom: 10px; }

.video-content-box p {
  font-size: 18px;
  line-height: 30px;
  max-width: 800px; }

.video-content-box h2 span {
  font-weight: 300; }

/* Portfolio Carousel ======= */
.portfolio-bx.style2 .overlay-bx {
  opacity: 1;
  visibility: visible; }

.portfolio-bx.style2 .dlab-img-overlay1:before {
  background: #111111;
  opacity: 0.4; }

.portfolio-bx.style2:hover .dlab-img-overlay1:before {
  opacity: 0.8; }

.portfolio-bx.style2:hover .title {
  /*opacity:0;*/
  opacity: 0.3; }

.portfolio-bx.style2:hover .mfp-link {
  visibility: visible; }

.portfolio-bx.style2 .mfp-link,
.portfolio-bx.style2 .title {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.portfolio-bx.style2 .title a {
  color: #fff; }

.portfolio-bx.style2 .mfp-link {
  width: 100px;
  height: 100px;
  display: block;
  font-size: 34px;
  line-height: 100px;
  text-align: center;
  background: var(--bg-color);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
  transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg); }

.portfolio-bx.style2:hover .mfp-link {
  transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg); }

.portfolio-bx.style2 .mfp-link i {
  background: transparent;
  vertical-align: middle;
  color: #fff; }

.portfolio-bx.style2 .overlay-icon {
  padding: 30px 70px; }

/* Portfolio Box */
.portfolio-carousel-2 .item {
  margin: 10px 0 10px 10px; }

.portfolio-bx.style3:after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  top: 0;
  background: #091928;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(9, 25, 40, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(9, 25, 40, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(9, 25, 40, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091928', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.portfolio-bx.style3 .port-box .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px; }

.portfolio-bx.style3 .port-box .title a {
  color: #fff; }

.portfolio-bx.style3 .port-box .btn-link {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.7; }

.portfolio-bx.style3 .overlay-bx {
  opacity: 1;
  visibility: visible;
  bottom: 0;
  top: auto;
  text-align: left;
  height: auto;
  padding: 30px; }

.portfolio-carousel .owl-prev,
.portfolio-carousel .owl-next {
  padding: 0 10px;
  background: transparent;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  margin: 0 15px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }

.portfolio-carousel .owl-prev i,
.portfolio-carousel .owl-next i {
  font-size: 22px; }

/* Full Height */
.portfolio-carousel.full-vh .dlab-media img {
  transform-style: inherit;
  height: calc(100vh - 60px);
  object-fit: cover; }

.portfolio-carousel-2.full-vh .dlab-media img {
  transform-style: inherit;
  height: calc(100vh - 140px);
  object-fit: cover; }

.showcase-bottom {
  height: 60px;
  background: #121a2d;
  padding: 0 55px;
  display: flex;
  align-items: center;
  margin-bottom: 0; }

.showcase-bottom .wpb_wrapper {
  display: flex;
  align-items: center;
  width: 100%; }

.showcase-bottom p {
  color: #fff;
  opacity: 0.8;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px; }

.showcase-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto; }

.showcase-bottom ul li {
  display: inline-block; }

.showcase-bottom ul li a {
  font-size: 14px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 28px;
  opacity: 0.8; }

.showcase-bottom ul li a:hover {
  background: #fff;
  color: #000;
  opacity: 1; }

/* Exhibition ======= */
.exhibition-bx p {
  color: #676767;
  font-size: 17px;
  line-height: 30px; }

.exhibition-bx .title {
  font-size: 50px;
  line-height: 58px; }

.exhibition-carousel {
  padding: 20px 50px 20px 0px;
  position: relative;
  z-index: 1; }

.exhibition-carousel:after {
  content: "";
  position: absolute;
  width: calc(100% - 70px);
  height: 100%;
  right: 0;
  top: 0;
  background-color: #f9f9f9;
  z-index: -1; }

.exhibition-carousel .owl-dots {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.exhibition-carousel .owl-dot {
  width: 12px;
  height: 12px;
  background: #dadada;
  border-radius: 20px;
  margin: 10px 0; }

.exhibition-carousel .owl-dot.active {
  background: var(--bg-color); }

/* New Css */
.section-head.style1 .pre-title {
  font-size: 18px;
  letter-spacing: 5px;
  color: #555; }

.blog-post .blog-media img {
  width: 100%; }

.align-self-center-vc > .vc_column-inner {
  align-self: center; }

.latest-project-info {
  background-color: #1b1b1b;
  padding: 100px 130px; }

.latest-project-info-vc {
  background-color: #1b1b1b; }

.bg-dark-vc {
  background-color: #1b1b1b; }

.latest-project-info-row {
  padding: 100px 130px; }
  .latest-project-info-row h2 {
    font-size: 50px;
    line-height: 60px; }
  .latest-project-info-row p {
    color: #949494; }

.latest-project-info h2 {
  font-size: 50px;
  line-height: 60px; }

.latest-project-info a {
  margin-top: 30px; }

.latest-project-info p {
  color: #949494; }

.portbox1.style1 {
  border-radius: 0; }

.portbox1.style1 .portinner span {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
  font-weight: 500; }

.portbox1.style1 .overlay-bx .port-title {
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 15px; }

.letter-spacing {
  letter-spacing: 3px; }

.exhibition-name-vc,
.exhibition-bx .exhibition-name {
  color: #ecedef;
  font-size: 130px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 0; }

.testimonial-two .client-says {
  padding-left: 130px; }

.testimonial-two .client-says .testimonial-pic {
  width: 90px;
  height: 90px; }

.testimonial-two .client-says .testimonial-text p {
  font-size: 16px; }

.testimonial-two .client-says .testimonial-name {
  font-size: 20px; }

.testimonial-two .client-says .testimonial-position {
  font-size: 13px;
  color: #868686;
  font-family: poppins; }

.progress-head h2 {
  font-size: 36px; }

.testimonial-two-dots-bx.owl-theme .owl-dots .owl-dot span {
  height: 13px;
  width: 13px;
  background-color: #2b2b2b;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  opacity: 1; }

.testimonial-two-dots-bx.owl-theme .owl-dots .owl-dot.active span {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  background-color: var(--bg-color);
  width: 13px; }

/* Btn aware */
.btn.btn-aware {
  background: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-color: #91ae1d; }

.btn.btn-aware:hover {
  background-color: transparent;
  border-color: #91ae1d; }

.btn.black.btn-aware {
  position: relative;
  overflow: hidden;
  background: transparent;
  z-index: 1;
  border-color: #000; }

.btn.btn-aware span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #91ae1d;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1; }

.btn.black.btn-aware span {
  background-color: #000; }

.btn-aware:hover span {
  width: 225%;
  height: 562px; }

/* Slider 2 ======= */
/* .slide3 .tp-leftarrow{
	margin-right:25px;
}
.slide3 .tp-rightarrow{
	margin-left:25px;
} */
.slide3 .rev_slider .uranus.tparrows {
  width: auto;
  height: auto;
  display: block; }

.slide3 .rev_slider .tparrows.uranus.tp-rightarrow:before, .slide3 .rev_slider .tparrows.uranus.tp-leftarrow:after {
  display: none; }

.slide3 .rev_slider .uranus.tparrows.tp-rightarrow:after,
.slide3 .rev_slider .uranus.tparrows.tp-leftarrow:before {
  font-family: "LineAwesome";
  color: #fff;
  display: inline-block;
  line-height: 53px !important;
  font-size: 24px !important;
  height: 53px !important;
  width: 53px !important;
  background-color: #252526;
  text-align: center; }

.slide3 .rev_slider .uranus.tparrows.tp-rightarrow:after {
  content: "\f121"; }

.slide3 .rev_slider .uranus.tparrows.tp-leftarrow:before {
  content: "\f120"; }

.slide3 .rev_slider .tp-rightarrow:hover:after,
.slide3 .rev_slider .tparrows.tp-leftarrow:hover:before {
  opacity: 0.8; }

.header-full.bgimg-scale .main-bar {
  background-image: url(../../images/scale.png);
  background-repeat: repeat-x;
  padding-top: 10px; }

.slide3-socials {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  text-align: center;
  margin: 0; }
  .slide3-socials ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .slide3-socials ul li {
      display: block;
      margin: 0;
      padding: 0; }
    .slide3-socials ul a {
      color: #000;
      font-size: 18px;
      padding: 5px 10px;
      display: block; }

/* like button */
.heart {
  width: 60px;
  height: 60px;
  display: inline-block;
  background: url(../images/like.png) no-repeat;
  cursor: pointer;
  margin: -20px -10px; }

.heart-blast {
  background-position: -1680px 0;
  transition: background 1s steps(28); }

.footer-bottom p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; }

/* Responsive */
@media only screen and (max-width: 1400px) {
  .dlab-bnr-inr.dlab-bnr-inr-lg {
    height: 630px;
    padding-top: 100px; }
  .video-content-box,
  .video-content-box h2 {
    max-width: 750px; }
  .video-content-box p {
    max-width: 700px; }
  .latest-project-info {
    padding: 50px 80px; }
  .latest-project-info h2 {
    font-size: 40px;
    line-height: 50px; }
  .latest-project-info-row {
    padding: 50px 80px; }
    .latest-project-info-row h2 {
      font-size: 40px;
      line-height: 50px; }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px; } }

@media only screen and (max-width: 1200px) {
  .dlab-bnr-inr.dlab-bnr-inr-lg {
    height: 600px; }
  .header-archia .contact-info {
    display: none; }
  .archi-footer.site-footer .footer-top .footer-logo {
    margin: auto; }
  .about-bx1-content h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px; }
  .about-bx1-content p {
    font-size: 16px;
    line-height: 28px; }
  .about-year {
    padding-top: 15px;
    padding-bottom: 15px; }
  .about-year span:after {
    width: 80px;
    height: 80px;
    top: -2px; }
  .about-year span {
    font-size: 65px;
    line-height: 75px;
    padding-left: 24px;
    padding-right: 10px; }
  .about-bx1-content p {
    font-size: 14px;
    line-height: 20px; }
  .about-bx1-content-vc,
  .project-slider .about-bx1-content {
    padding-left: 15px;
    max-width: 400px; }
  .about-bx1-content h2 {
    font-size: 24px;
    line-height: 34px; }
  .about-bx1-content p {
    margin-bottom: 10px; }
  .form-img {
    width: calc(100% + 30px);
    margin-bottom: -40px; }
    .form-img.wpb_content_element {
      margin-bottom: -40px; }
  .form-box .title {
    font-size: 18px;
    line-height: 28px; }
  .sr-numbox .dlab-tilte {
    font-size: 16px;
    letter-spacing: 1px; }
  .sr-numbox .box-number {
    font-size: 30px;
    padding: 0;
    margin-bottom: 0;
    line-height: 50px; }
  .sr-numbox .box-number::after {
    width: 35px;
    content: none; }
  .sr-numbox .dlab-tilte {
    padding-left: 10px; }
  .sr-numbox .icon-content .m-b10 {
    margin-bottom: 5px; }
  .section-head .head-title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px; }
  .video-bx2 .years-work {
    display: none; }
  .project-content .head-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; }
  .project-area [class*="col-"] {
    padding: 0; }
  .project-area > .row {
    margin: 0; }
  .project-area-info .project-content p {
    font-size: 14px;
    margin-bottom: 10px; }
  .project-area-info .project-content {
    margin-left: 0;
    padding-right: 30px; }
  .project-area-info .owl-nav .owl-prev {
    left: 0px;
    text-shadow: 5px 0px 0 rgba(0, 0, 0, 0.3); }
  .project-area-info .owl-nav .owl-next {
    right: 0;
    text-shadow: 5px 0px 0 rgba(0, 0, 0, 0.3); }
  .team-info-contact h2 {
    font-size: 28px;
    margin-bottom: 5px; }
  .team-info-contact p {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 10px; }
  .team-slider {
    margin-bottom: 30px; }
  .team-slider.owl-theme .owl-dots {
    left: 10px; }
  .team-slider .owl-dots .owl-dot.active {
    border: 1px solid #fff; }
  .team-slider .owl-dots .owl-dot {
    padding: 5px; }
  .team-slider .owl-dots .owl-dot span,
  .team-slider .owl-dots .owl-dot:hover span,
  .team-slider .owl-dots .owl-dot.active span {
    background-color: #fff; }
  .our-team .team-title-bx .team-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 5px; }
  .our-team .team-title-bx span {
    font-size: 15px; }
  .our-team .social-list li {
    font-size: 16px;
    padding: 5px; }
  .section-head .head-title {
    margin-bottom: 10px; }
  .about-us h2 {
    font-size: 35px; }
  .project-info {
    padding: 40px; }
  .coming-head {
    margin-left: auto;
    margin-right: auto; }
  .video-content-box {
    max-width: 600px; }
  .video-content-box h2 {
    font-size: 60px;
    line-height: 60px; }
  .video-content-box h6 {
    font-size: 12px;
    letter-spacing: 20px; }
  .video-content-box p {
    font-size: 16px;
    line-height: 26px;
    max-width: 600px; }
  .pro-details-col-5 .col {
    width: 25%;
    flex-basis: auto; }
  .content-inner {
    padding-top: 60px;
    padding-bottom: 30px; }
  .content-inner-1 {
    padding-top: 60px; }
  .content-inner-2 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px; }
  .section-head.style2 .head-title {
    width: 85%; }
  .history-box .history-details {
    flex: 0 0 40%;
    max-width: 40%; }
  .history-box .history-media {
    flex: 0 0 60%;
    max-width: 60%; }
  .history-box {
    margin-bottom: 60px; }
  .blog-post.blog-half.blog-half1 .dlab-post-title .post-title {
    font-size: 24px;
    line-height: 34px; }
  blockquote {
    padding: 4px 20px 5px 40px; }
  .archi-footer.site-footer .container {
    max-width: 100%; }
  .archi-footer.site-footer .footer-top [class*="col-"]:first-child {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .video-bx {
    padding: 80px 0; } }

@media only screen and (max-width: 991px) {
  .dlab-bnr-inr.dlab-bnr-inr-lg {
    height: 550px;
    padding-top: 30px; }
  .filter-style2 li {
    margin: 0 10px;
    font-size: 14px; }
  .form-box {
    padding: 40px 40px; }
    .form-box.vc_column_container {
      padding: 40px 40px; }
  .form-box .row:first-child {
    flex-direction: column-reverse;
    text-align: center; }
  .form-img {
    position: unset;
    margin-bottom: -20px;
    margin-top: -50px; }
    .form-img.wpb_content_element {
      margin-top: -50px;
      margin-bottom: -20px; }
  .about-bx1-content-vc,
  .project-slider .about-bx1-content {
    padding-right: 20px; }
  .project-area .section-head .head-title {
    font-size: 36px;
    margin-bottom: 5px; }
  .project-area .section-head p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px; }
  .project-info-box .project-content {
    padding: 20px 20px;
    width: 300px; }
  .list-details li {
    padding: 5px 0;
    font-size: 12px; }
  .team-info-contact {
    padding-left: 0;
    margin-bottom: 40px; }
  .project-area {
    padding: 30px; }
  .header-archia .header-nav .nav > li > a {
    border: 0;
    padding: 10px 20px; }
  .header-archia .is-fixed .navbar-toggler.open span {
    background-color: #fff; }
  .countdown {
    margin-left: 0; }
  .countdown-box {
    display: block;
    padding: 50px 20px 0; }
  .countdown .date {
    text-align: left; }
  .button-home {
    position: absolute;
    bottom: 20px;
    left: 20px; }
  .coming-head {
    margin-right: unset;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px; }
  .coming-head .subscribe-form {
    margin-left: unset; }
  .project-style-2.project-carousel-1 .owl-nav {
    width: 300px; }
  .project-style-2 .project-info-box .project-content {
    bottom: 50px; }
  .video-full {
    height: 80vh !important;
    padding-top: 100px !important; }
  .video-content-box a.video {
    width: 70px;
    height: 70px;
    font-size: 20px;
    line-height: 70px; }
  .video-content-box h6 {
    font-size: 12px;
    letter-spacing: 14px; }
  .video-content-box p {
    font-size: 14px;
    line-height: 24px;
    max-width: 400px; }
  .video-content-box {
    max-width: 400px; }
  .video-content-box h2 {
    font-size: 40px;
    line-height: 40px; }
  .portfolio-bx.style2 .overlay-icon {
    padding: 30px; }
  .portfolio-bx.style2 .title {
    font-size: 24px;
    margin-bottom: 10px; }
  .pro-details-col-5 .col {
    width: 33.33%; }
  .content-inner {
    padding-top: 50px;
    padding-bottom: 20px; }
  .content-inner-1 {
    padding-top: 50px; }
  .content-inner-2 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .thumb-left .history-box .history-details {
    padding-left: 30px; }
  .history-box .history-details,
  .history-box .history-media {
    flex: 0 0 50%;
    max-width: 50%; }
  .history-box .history-details {
    padding-right: 30px; }
  .history-head h2 {
    font-size: 50px;
    margin-bottom: 15px; }
  .history-box .history-head h3 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px; }
  .history-box {
    margin-bottom: 50px; }
  .blog-half.blog-half1 .post-info {
    background-color: #fff;
    padding: 0 20px 30px; }
  .blog-post.blog-half.blog-half1 .dlab-post-title.left,
  .blog-post.blog-half.blog-half1 .dlab-post-title.right {
    margin: 0;
    padding: 0; }
  .blog-post.blog-half.blog-half1 {
    margin-bottom: 0; }
  .blog-post.blog-half.blog-half1 .blog-media,
  .blog-post.blog-grid.shadow {
    margin-bottom: 30px; }
  .blog-post.blog-grid.shadow .dlab-info {
    padding: 30px; }
  .video-bx2 .video-play a {
    height: 60px;
    width: 60px;
    font-size: 24px;
    line-height: 60px; }
  .video-bx2 .years-date {
    font-size: 65px;
    line-height: 65px; }
  .video-bx2 .years {
    font-size: 24px;
    line-height: 24px; }
  .video-bx2 .video-play p {
    font-size: 12px;
    padding: 12px 0;
    line-height: 18px;
    margin-bottom: 10px; }
  .video-info .video-bx2 {
    bottom: -20px;
    width: 250px; }
  .section-head .head-title {
    font-size: 30px;
    line-height: 40px; }
  .error-page .dz_error {
    font-size: 200px;
    line-height: 200px; }
  .error-page .error-head {
    font-size: 30px;
    line-height: 45px; }
  /* header */
  .header-archia .extra-cell ul {
    display: block; }
  .header-archia .is-fixed .logo-header {
    height: 62px; }
  .header-archia.header-transparent .main-bar {
    padding: 10px 0; }
  .mo-nav .logo-header,
  .mo-nav .social-menu {
    display: block;
    width: 100%; }
  .header-archia .is-fixed .mo-nav.header-nav .nav > li > a,
  .header-archia .mo-nav.header-nav .nav > li > a {
    padding: 12px 35px;
    width: 100%;
    font-size: 18px; }
  .header-archia .mo-nav.header-nav {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between !important;
    min-height: 100%; }
  .mo-left .is-fixed .header-nav .logo-header {
    height: auto; }
  .header-archia .header-nav .nav > li .sub-menu {
    width: 100%; }
  .header-archia .header-nav.mo-nav .nav > li .sub-menu li:hover > a,
  .header-archia .header-nav.mo-nav .nav > li .sub-menu li .sub-menu li:hover a {
    background-color: #fff;
    color: #6f6f6f; }
  .header-archia .mo-nav .social-menu {
    padding: 30px; }
  .mo-left .header-nav.mo-nav .logo-header a {
    text-align: left; }
  .mo-left .header-nav.mo-nav .logo-header {
    padding: 30px 35px;
    text-align: left; }
  .blog-grid.style1 .dlab-post-text .post-title {
    font-size: 20px;
    line-height: 30px; }
  .section-head {
    margin-bottom: 30px; }
  .side-bar {
    margin-bottom: 0; }
  .showcase-bottom {
    padding: 0 15px; }
  .video-info {
    margin-bottom: 40px; } }

@media only screen and (max-width: 767px) {
  .section-head {
    margin-bottom: 20px; }
  .project-carousel-1 .project-media img {
    height: 400px;
    object-fit: cover; }
  .about-bx1-content-vc,
  .about-bx1-content {
    margin-top: 30px; }
  .project-carousel-2 {
    margin-right: 30px; }
  .project-slider-row-vc:after,
  .project-slider:after {
    content: none; }
  .about-bx1-content-vc,
  .project-slider .about-bx1-content {
    max-width: 100%; }
  .form-content-box {
    padding-top: 120px; }
  .client-box-full .testimonial-1 {
    margin: 0 50px; }
  .section-head .head-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 5px; }
  .filter-style2 {
    margin-bottom: 20px; }
  .section-head p {
    font-weight: 400;
    font-size: 14px; }
  .filter-style2 li {
    margin: 0 5px; }
  .portbox3 .portinner {
    max-width: 200px; }
  .portbox3 .portinner .port-up .port-title {
    font-size: 18px;
    line-height: 28px; }
  .project-area .section-head .head-title {
    font-size: 26px; }
  .about-year {
    padding-top: 5px;
    padding-bottom: 5px; }
  .about-bx1-content-vc,
  .about-bx1-content {
    margin-top: 25px; }
  .project-slider {
    padding-top: 0; }
  .form-box {
    padding: 20px 20px; }
    .form-box.vc_column_container {
      padding: 20px 20px; }
  .form-box .form-group {
    margin-bottom: 10px; }
  .form-box .form-control {
    font-size: 13px;
    padding: 20px 30px;
    height: 45px; }
  .form-box .btn {
    height: 50px;
    padding: 0 15px; }
  .project-carousel-1 .owl-next,
  .project-carousel-1 .owl-prev {
    font-size: 12px;
    margin: 0 10px; }
  .project-carousel-1 .owl-next i,
  .project-carousel-1 .owl-prev i {
    font-size: 16px; }
  .project-area {
    padding: 0; }
  .project-area-info .project-content {
    padding: 30px; }
  .portfolio-bx.style2 .mfp-link {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: -25px 0px 0px -25px; }
  .portfolio-bx.style2 .overlay-icon .title {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600; }
  .portfolio-bx.style2 .overlay-icon {
    padding: 20px 20px; }
  .our-team.team-style1 .team-title-bx .team-title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0; }
  .our-team.team-style1 .team-title-bx span {
    font-size: 14px; }
  .our-team .social-list li {
    font-size: 15px;
    padding: 5px; }
  .our-team.team-style1 .social-list {
    margin-top: 0; }
  .our-team.team-style1 .team-title-bx {
    padding: 10px; }
  .sr-iconbox.p-lr30 {
    padding-left: 0;
    padding-right: 0; }
  .project-info .project-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px; }
  .project-info .info-number {
    font-size: 24px;
    line-height: 34px; }
  .project-info .project-description {
    margin-bottom: 20px; }
  .header-full.style1 .extra-nav .extra-cell > ul > li {
    padding: 10px 10px; }
  .dlab-bnr-inr.dlab-bnr-inr-lg {
    height: 500px; }
  .dlab-bnr-inr .breadcrumb-row ul li:first-child a {
    padding: 20px 30px;
    margin-right: 15px; }
  .dlab-bnr-inr .breadcrumb-row ul li {
    padding: 20px 10px; }
  .pro-details-col-5 .col {
    width: 50%; }
  .content-inner {
    padding-top: 50px;
    padding-bottom: 20px; }
  .content-inner-1 {
    padding-top: 50px; }
  .content-inner-2 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .section-head.contact-title h2 {
    font-size: 50px;
    line-height: 60px; }
  .history-box .history-details,
  .history-box .history-media {
    flex: 0 0 100%;
    max-width: 100%; }
  .history-box .history-details,
  .thumb-left .history-box .history-details {
    padding: 0 0 30px 0; }
  .dlab-post-tags.d-flex {
    display: block !important; }
  .blog-post.blog-single {
    margin-bottom: 30px; }
  .video-info .video-bx2 {
    bottom: 50px; }
  .video-info {
    margin-bottom: 30px; }
  .error-page .dz_error {
    font-size: 120px;
    line-height: 120px; }
  .error-page .error-head {
    font-size: 20px;
    line-height: 34px; }
  .error-page .subscribe-form {
    width: 100%; }
  .archi-footer.site-footer .footer-top [class*="col-"]:first-child {
    padding: 50px 30px; }
  .archi-footer.site-footer .footer-top [class*="col-"]:last-child,
  .archi-footer.site-footer .footer-top [class*="col-"] {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 30px 30px;
    border-right: 0;
    text-align: center; }
  .header-archia .is-fixed .logo-header,
  .header-archia .logo-header {
    height: 60px; }
  .header-archia .is-fixed .extra-nav,
  .header-archia .extra-nav {
    padding: 6px 0; }
  .header-archia .extra-cell ul li a {
    padding: 0; }
  .dlab-bnr-inr .breadcrumb-row ul {
    text-align: left; }
  .dlab-bnr-inr h1 {
    font-size: 40px;
    line-height: 50px; }
  .mo-left .header-nav.mo-nav .logo-header {
    margin-right: 0; }
  .about-me .bg-half::before {
    width: 100%; }
  .about-me .about-thumb {
    margin: 0 10px 20px; }
  .about-me .about-email-bx {
    padding: 20px 10px; }
  /*.about-me .about-me-info .title {
		font-size: 30px;
	}
	.about-me .about-me-info .sub-title {
		font-size: 16px;
	}
	.about-me .about-me-info .widget_getintuch strong {
		font-size: 18px;
	}
	.about-me .about-me-info .title {
		font-size: 30px;
		line-height: 30px;
	}
	.about-me .about-me-info .sub-title {
		font-size: 16px;
	}*/
  .wpb_content_element.about-me-info .title {
    font-size: 30px; }
  .wpb_content_element.about-me-info .sub-title {
    font-size: 16px; }
  .wpb_content_element.about-me-info .widget_getintuch strong {
    font-size: 18px; }
  .wpb_content_element.about-me-info .title {
    font-size: 30px;
    line-height: 30px; }
  .wpb_content_element.about-me-info .sub-title {
    font-size: 16px; }
  .progress-bx-info h2,
  .describe-about-info h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px; }
  .progress-head h2 {
    font-size: 24px !important;
    line-height: 30px;
    margin-bottom: 10px; }
  .describe-about-info h2 img {
    width: 18px;
    margin-right: 10px; }
  body {
    font-size: 14px; }
  .icon-bx-wraper .icon-content p,
  .client-says .testimonial-text p,
  .exhibition-bx p,
  .extra-content,
  .blog-post.blog-single .dlab-post-text ul li,
  .blog-post.blog-single .dlab-post-text ol li,
  .blog-post.blog-single .dlab-post-text p,
  ol.comment-list li.comment p {
    font-size: 14px;
    line-height: 26px; }
  .icon-bx-wraper .icon-content .dlab-tilte {
    font-size: 20px;
    margin-bottom: 10px; }
  .about-bx {
    padding: 0 15px 15px; }
  .about-bx .icon-content {
    padding: 0 0px 10px 10px; }
  .video-bx {
    padding: 50px 0; }
  .contact-box .m-b50 {
    margin-bottom: 10px; }
  .archia-counter .counter {
    font-size: 26px;
    line-height: 36px; }
  .archia-counter .font-16 {
    font-size: 14px; }
  .archia-counter {
    text-align: center; }
  .archia-counter .icon-lg i {
    font-size: 40px; }
  .archia-counter .icon-lg {
    width: 50px;
    float: unset; }
  .archia-counter .m-l90 {
    margin-left: 0; }
  .portfolio-bx .overlay-bx .port-title {
    margin-bottom: 15px; }
  .filter-style2,
  .filter-style1 {
    margin-bottom: 20px; }
  .comment-respond {
    padding: 0px; }
  .widget-bx {
    padding: 30px 20px; }
  .client-says .testimonial-name {
    font-size: 18px; }
  .comments-area .comments-title {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px; }
  .section-top-head {
    font-size: 16px;
    margin-bottom: 5px; }
  .extra-content {
    margin: 0 0 20px 0; }
  .animation-jet + h3 {
    font-size: 20px;
    line-height: 30px; }
  .contact-box .section-head h2 {
    font-size: 24px;
    line-height: 34px; }
  .exhibition-bx .title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px; }
  .comment-respond .comment-reply-title,
  .comments-area .comments-title {
    font-size: 24px; }
  .section-head.style1 h2 {
    font-size: 24px;
    line-height: 34px; }
  .section-head.style1 .pre-title,
  .video-sction .font-18 {
    font-size: 16px; }
  .videoplay-bx {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 70px; }
  .client-says .testimonial-pic {
    width: 100px;
    height: 100px; }
  .client-box-full .testimonial-detail .testimonial-name {
    font-size: 20px; }
  .blog-post,
  .portbox2 .dlab-media,
  .portbox1,
  .pricingtable-wrapper,
  .portfolio-1 .card-container.m-b30,
  .our-gallery .m-b30,
  .form-group,
  .blog-post.blog-single .dlab-post-text p,
  .comments-area .comment-form p,
  .dlab-box.dlab-gallery-box.overlay-gallery-bx1.m-b30,
  .project-img-bx img {
    margin-bottom: 15px; }
  .about-us h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px; }
  .about-us p {
    font-size: 16px;
    line-height: 26px; }
  .explore-projects [class*="col-"],
  .portfolio-1 [class*="col-"],
  .our-gallery [class*="col-"],
  .contact-box form [class*="col-"],
  .portfolio-bx1 [class*="col-"] {
    padding-left: 7px;
    padding-right: 8px; }
  .explore-projects,
  .portfolio-1 .row,
  .our-gallery,
  .contact-box .row,
  .portfolio-bx1 {
    margin-left: -7px;
    margin-right: -8px; }
  .our-team .team-title-bx {
    padding: 15px 0 0 0; }
  .our-team .team-title-bx .team-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 3px; }
  .our-team .team-title-bx span {
    font-size: 13px; }
  .portfolio-1 .dlab-box .port-box {
    padding: 20px; }
  .describe-about-info {
    margin-bottom: 10px; }
  .popvid-colored.video-play,
  .video-bx .video-play {
    margin-bottom: 20px; }
  .popvid-colored.video-play .popup-youtube,
  .video-bx .video-play .popup-youtube {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 24px; }
  .video-box-content .video-title,
  .video-bx .video-title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px; }
  .video-box-content,
  .video-bx .video-content {
    font-size: 14px;
    width: 100%;
    line-height: 24px;
    margin-bottom: 20px; }
  .countdown .date .time {
    font-size: 50px;
    line-height: 50px; }
  .countdown .date div strong {
    font-size: 16px;
    line-height: 12px; }
  .coming-head h2 span {
    font-size: 30px;
    line-height: 30px; }
  .coming-head h2 {
    line-height: 140px;
    font-size: 140px; }
  .blog-post.blog-single .dlab-post-title .post-title {
    font-size: 26px;
    line-height: 40px; }
  .side-bar .widget {
    margin-bottom: 30px; }
  .blog-masonry .blog-post .post-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px; }
  .latest-project-info h2 {
    font-size: 30px;
    line-height: 40px; }
  .latest-project-info-row h2 {
    font-size: 30px;
    line-height: 40px; }
  .latest-project-info a {
    margin-top: 0; } }

@media only screen and (max-width: 576px) {
  .project-area-info .owl-nav .owl-prev i,
  .project-area-info .owl-nav .owl-next i {
    font-size: 22px; }
  .about-us h2 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 10px; }
  .about-us p {
    line-height: 28px;
    font-size: 15px; }
  .sr-iconbox.icon-bx-wraper .dlab-tilte {
    margin-bottom: 5px; }
  .project-info {
    border-radius: 15px;
    padding: 20px; }
  .project-info .project-time,
  .project-info .project-description {
    font-size: 15px;
    line-height: 28px; }
  .our-team .team-title-bx {
    padding: 20px 0 0 0; }
  .header-full.style1 .extra-nav .extra-cell > ul > li.contact-no {
    display: none; }
  .header-full.style1 .header-social ul li a {
    font-size: 14px;
    padding: 0 4px; }
  .header-full.style1 .menu-icon {
    width: 35px;
    height: 35px; }
  .header-full.style1 .menu-icon-in {
    width: 20px;
    height: 14px; }
  .header-full.style1 .extra-nav .extra-cell > ul > li {
    padding: 8px 10px; }
  .header-full.style1 .is-fixed .header-content-bx > .logo-header,
  .header-full.style1 .header-content-bx .logo-header {
    height: 50px;
    width: 100px; }
  .layers3 {
    letter-spacing: 5px !important; }
  .slide2 .hermes .tp-bullet.selected:after {
    font-size: 30px; }
  .slide2 .tp-bullets.hermes {
    left: -6px !important;
    transform: matrix(1, 0, 0, 1, 7, -122) !important; }
  .slide2 .tp-leftarrow.tparrows {
    transform: matrix(1, 0, 0, 1, -170, -33) !important; }
  .slide2 .tp-rightarrow.tparrows {
    transform: matrix(1, 0, 0, 1, -100, -31) !important; }
  .coming-head h2 {
    line-height: 100px;
    font-size: 100px; }
  .countdown .date {
    width: 70px; }
  .countdown .date .time {
    font-size: 40px;
    line-height: 50px; }
  .countdown .date div {
    line-height: 20px; }
  .countdown .date div strong {
    font-size: 12px; }
  .coming-head h2 span {
    font-size: 22px;
    top: 10px; }
  .coming-head {
    margin-top: 10px; }
  .button-home .btn.btn-lg {
    padding: 15px 20px;
    font-size: 13px; }
  .video-full {
    padding-top: 50px !important;
    padding-bottom: 30px !important; }
  .video-content-box h2 {
    font-size: 30px;
    line-height: 30px; }
  .video-content-box h6 {
    letter-spacing: 8px; }
  .dlab-bnr-inr .breadcrumb-row ul li:first-child a {
    padding: 10px 15px;
    margin-right: 5px; }
  .dlab-bnr-inr .breadcrumb-row ul li {
    padding: 10px 5px;
    font-size: 14px; }
  .dlab-bnr-inr .breadcrumb-row {
    bottom: -5px; }
  .dlab-bnr-inr.dlab-bnr-inr-lg {
    height: 350px;
    padding-top: 30px; }
  .pro-details-col-5 .col {
    width: 100%; }
  .project-img-bx .img-full.m-b50 {
    margin-bottom: 30px; }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
  .dlab-bnr-inr {
    margin-bottom: 20px; }
  .section-head.style2 .head-title {
    font-size: 26px;
    line-height: 36px; }
  .section-head.contact-title h2 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px; }
  .section-head.contact-title span {
    font-size: 16px; }
  .pagination-bx.radius {
    margin: 30px 0px; }
  .blog-post.blog-single .dlab-post-info .post-title {
    font-size: 22px;
    line-height: 32px; }
  .blog-post.blog-single .dlab-post-meta li.dlab-post-name {
    display: block;
    margin-bottom: 15px; }
  .blog-post.blog-single .dlab-post-text h4 {
    font-size: 18px;
    line-height: 28px; }
  .blog-post.blog-single .dlab-post-text blockquote p {
    font-size: 18px;
    line-height: 28px; }
  blockquote {
    padding: 4px 20px 5px 20px;
    margin: 30px 0; }
  .blog-user .author-profile-pic {
    width: 60px;
    min-width: 60px;
    height: 60px; }
  .side-bar .widget {
    margin-bottom: 30px; }
  .video-info .video-bx2 {
    padding: 25px;
    bottom: 0; }
  .project-info {
    padding: 30px; }
  .project-info .project-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px; }
  .project-info .info-number {
    font-size: 20px;
    margin-bottom: 10px; }
  .about-us h2 {
    font-size: 24px;
    line-height: 34px; }
  .dlab-bnr-inr .breadcrumb-row ul li:first-child a {
    padding: 15px 20px;
    margin-right: 15px; }
  .dlab-bnr-inr .breadcrumb-row ul li {
    padding: 15px 5px; }
  .dlab-bnr-inr h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0; }
  .dlab-bnr-inr p {
    font-size: 16px; }
  .client-box-full .testimonial-text p {
    font-size: 15px;
    line-height: 25px; }
  .section-head .head-title {
    font-size: 24px;
    line-height: 34px; }
  .section-head .font-18 {
    font-size: 16px;
    margin-bottom: 5px; }
  .icon-bx-wraper .icon-content .dlab-tilte {
    font-size: 18px;
    margin-bottom: auto;
    line-height: 30px; }
  .exhibition-bx .title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px; }
  .describe-about-info p,
  .related-post-bx .m-b30 {
    margin-bottom: 10px; }
  .history-box .history-details,
  .thumb-left .history-box .history-details {
    padding: 0 0 15px 0; }
  .blog-post.blog-grid.shadow,
  .related-post-bx {
    margin-bottom: 20px; }
  .author-box.blog-user {
    margin-bottom: 30px; }
  .rev-slider-full .tp-bgimg.defaultimg {
    background-position: right 35% top !important; }
  .content-inner {
    padding-top: 30px;
    padding-bottom: 0px; }
  .content-inner-1 {
    padding-top: 30px; }
  .content-inner-2 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .explore-projects [class*="col-"],
  .portfolio-1 [class*="col-"],
  .our-gallery [class*="col-"],
  .contact-box form [class*="col-"],
  .portfolio-bx1 [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px; }
  .explore-projects,
  .portfolio-1 .row,
  .our-gallery,
  .contact-box .row,
  .portfolio-bx1 {
    margin-left: -15px;
    margin-right: -15px; }
  .video-bx {
    padding: 30px 0; }
  .latest-project-info {
    padding: 30px 50px; }
  .latest-project-info h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px; }
  .latest-project-info-row {
    padding: 30px 50px; }
    .latest-project-info-row h2 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px; }
  .testimonial-two .client-says {
    padding-left: 0; }
  .sec-title-decor:before,
  .exhibition-name-vc,
  .exhibition-bx .exhibition-name {
    font-size: 100px; }
  .portfolio-carousel-2.full-vh .dlab-media img {
    height: calc(100vh - 130px); }
  .slide3-socials {
    width: 40px; }
  .slide3-socials ul li a {
    padding: 10px 10px;
    font-size: 14px; }
  .slide3 .tparrows.tp-leftarrow {
    transform: matrix(1, 0, 0, 1, -90, -100) !important; }
  .slide3 .tparrows.tp-rightarrow {
    transform: matrix(1, 0, 0, 1, -90, -150) !important; }
  .slide3 .rev_slider .uranus.tparrows.tp-rightarrow:after,
  .slide3 .rev_slider .uranus.tparrows.tp-leftarrow:before {
    line-height: 40px  !important;
    font-size: 14px !important;
    height: 40px !important;
    width: 40px !important; } }
